In [1]:
import pandas as pd

In [2]:
#Links for each of the three original raw datasets for each state
RaceWashington='https://github.com/NichMaue/Projects/raw/main/WARaceInfo.xlsx' #Washington Link
RaceOregon='https://github.com/NichMaue/Projects/raw/main/ORRaceData.xlsx' #Oregon Link
RaceCalifornia='https://github.com/NichMaue/Projects/raw/main/CARaceData.xlsx'#California Link

In [3]:
racewa=pd.read_excel(RaceWashington)
raceor=pd.read_excel(RaceOregon)
raceca=pd.read_excel(RaceCalifornia)

First, I want to delete data from years 2010-2018 so that only the most recent demographic information is in the data frame:

In [4]:
racewa.query('Year==2019',inplace=True)

Then, I want to eliminate total count by age group to eliminate redundancies in count for each race:

In [5]:
racewa=racewa[racewa['Age Group']!='Total']

I want to only keep consecutive age groups, so I will create a function that eliminates non-consecutive groups:

In [6]:
stay=['0-19', '20-64', '65+']

racewa=racewa[racewa['Age Group'].isin(stay)]

In [7]:
racewa

,Area Name,Area ID,Year,Age Group,Total,Male,Female,White Total,White Male,White Female,...,AIAN Female,Asian Total,Asian Male,Asian Female,NHOPI Total,NHOPI Male,NHOPI Female,Two or More Races Total,Two or More Races Male,Two or More Races Female
8287,Washington,53,2019,0-19,1.87211e+06,957836,914272,1.35822e+06,696658,661564,...,21738.9,158489,79553.1,78936.4,20255.8,10257.1,9998.73,196850,99805.4,97045
8295,Washington,53,2019,20-64,4.4479e+06,2.24339e+06,2.20451e+06,3.50837e+06,1.78316e+06,1725210,...,39637.7,451125,206807,244317,35592.6,17975.2,17617.4,173582,83685.2,89897.1
8296,Washington,53,2019,65+,1.2264e+06,564933,661469,1.08167e+06,502394,579280,...,6594.95,85024,34351.2,50672.8,3372.59,1546.95,1825.64,17806.3,7989.66,9816.6
8310,Adams,53001,2019,0-19,8205.19,4181.29,4023.9,7200.64,3710.85,3489.79,...,313.15,109.59,46.83,62.76,6.42,3.7,2.72,127.05,69.55,57.5
8318,Adams,53001,2019,20-64,9975.54,5100.96,4874.58,8948.09,4557.22,4390.87,...,269.8,151.72,71.13,80.59,4.58,3.86,0.72,102.8,52.65,50.15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9169,Whitman,53075,2019,20-64,30773.5,15573.7,15199.8,24774.9,12621.7,12153.2,...,144.93,3891.78,1897.12,1994.67,72.23,41.26,30.97,1149.95,518.5,631.45
9170,Whitman,53075,2019,65+,5035.26,2395.42,2639.85,4782.75,2288.69,2494.06,...,5.96,161.48,66.69,94.79,5.72,3.15,2.57,38.14,10.88,27.27
9184,Yakima,53077,2019,0-19,84457.7,44007,40450.7,71383,37221.9,34161.1,...,2879.36,1178.34,622.69,555.65,201.18,102.94,98.24,4295.77,2199.74,2096.04
9192,Yakima,53077,2019,20-64,133624,65734.5,67889.3,117029,57589.5,59440,...,3949.13,2602.19,1163.15,1439.03,321.57,177.19,144.39,3803.36,1791.14,2012.22
9193,Yakima,53077,2019,65+,37868.5,17882.7,19985.8,35010.5,16602.3,18408.2,...,715,560.47,226.99,333.49,43.25,16.04,27.21,597.86,260.41,337.45

I also want to get rid of total values for Washington, since we only want county information:

In [8]:
racewa=racewa[racewa["Area Name"]!='Washington']

Now I will reduce each county to a single row and adds together by the three consecutive age groups:

In [9]:
racewa=racewa.groupby(['Area Name','Area ID','Year']).sum()
racewa

,,,Age Group,Total,Male,Female,White Total,White Male,White Female,Black Total,Black Male,Black Female,...,AIAN Female,Asian Total,Asian Male,Asian Female,NHOPI Total,NHOPI Male,NHOPI Female,Two or More Races Total,Two or More Races Male,Two or More Races Female
Area Name,Area ID,Year,,,,,,,,,,,,,,,,,,,,,
Adams,53001,2019,0-1920-6465+,20150.00,10233.51,9916.48,18056.00,9185.27,8870.74,446.00,265.57,180.43,...,593.28,287.00,128.44,158.56,11.00,7.56,3.44,241.00,130.97,110.03
Asotin,53003,2019,0-1920-6465+,22520.01,11100.48,11419.51,21087.00,10434.52,10652.48,144.00,81.99,62.01,...,190.14,184.00,66.23,117.78,58.00,24.19,33.82,691.00,327.70,363.30
Benton,53005,2019,0-1920-6465+,201799.99,101396.07,100403.93,181938.00,91546.48,90391.52,3378.00,1845.43,1532.58,...,1188.73,6850.00,3159.56,3690.44,472.01,251.30,220.70,6658.00,3278.05,3379.96
Chelan,53007,2019,0-1920-6465+,78420.00,39199.90,39220.10,73391.00,36703.57,36687.43,510.01,300.71,209.29,...,731.07,929.00,399.54,529.46,193.00,105.92,87.09,1900.00,924.22,975.78
Clallam,53009,2019,0-1920-6465+,76010.00,37927.37,38082.63,65939.00,32773.48,33165.53,791.00,571.02,219.98,...,2021.84,1420.00,554.31,865.70,143.00,75.71,67.29,3475.00,1732.70,1742.30
Clark,53011,2019,0-1920-6465+,488500.00,241258.62,247241.37,420167.00,207785.26,212381.74,11609.00,6330.72,5278.28,...,2547.91,25226.99,11500.23,13726.77,4053.01,2003.78,2049.22,22234.00,10976.56,11257.44
Columbia,53013,2019,0-1920-6465+,4160.00,2108.21,2051.78,3855.00,1954.08,1900.93,17.00,14.91,2.10,...,45.56,39.00,16.37,22.63,48.01,28.59,19.42,121.00,59.84,61.17
Cowlitz,53015,2019,0-1920-6465+,108950.00,53881.19,55068.81,99051.99,49007.37,50044.62,974.00,575.80,398.19,...,1013.63,1981.00,823.36,1157.63,402.99,209.28,193.71,4449.00,2187.99,2261.02
Douglas,53017,2019,0-1920-6465+,42819.99,21598.19,21221.80,40160.99,20267.40,19893.60,245.99,138.45,107.55,...,375.57,444.00,178.11,265.89,106.00,58.35,47.65,1108.99,577.45,531.54
Ferry,53019,2019,0-1920-6465+,7830.00,4094.54,3735.47,5965.99,3131.25,2834.75,40.00,26.61,13.40,...,591.26,104.01,42.35,61.64,15.00,7.41,7.59,479.99,253.17,226.82
Franklin,53021,2019,0-1920-6465+,94680.00,48694.52,45985.48,86188.00,44251.92,41936.08,2175.00,1302.63,872.36,...,545.54,2214.00,1074.47,1139.54,406.00,208.43,197.58,2463.00,1168.60,1294.39
Garfield,53023,2019,0-1920-6465+,2220.00,1080.59,1139.41,2135.00,1043.67,1091.32,0.00,0.00,0.00,...,8.15,28.01,10.44,17.55,1.00,0.00,1.00,42.99,21.61,21.38
Grant,53025,2019,0-1920-6465+,98740.01,50428.21,48311.79,91284.00,46592.99,44691.00,1774.01,998.94,775.05,...,921.31,1175.00,551.76,623.24,132.00,75.48,56.52,2452.01,1207.36,1244.64
Grays Harbor,53027,2019,0-1920-6465+,74160.01,38712.47,35447.52,64456.00,33444.12,31011.88,977.00,771.42,205.58,...,1775.50,1304.00,573.40,730.61,251.00,161.57,89.43,3245.00,1610.46,1634.54
Island,53029,2019,0-1920-6465+,84820.00,41723.00,43096.99,72374.00,35922.77,36451.23,2221.01,1322.42,898.58,...,412.07,4536.00,1685.41,2850.59,515.00,259.90,255.10,4374.01,2144.57,2229.41
Jefferson,53031,2019,0-1920-6465+,31900.00,15888.41,16011.59,28855.00,14362.92,14492.07,311.01,226.88,84.11,...,413.75,630.01,236.06,393.95,85.00,55.65,29.35,1191.00,592.66,598.35
King,53033,2019,0-1920-6465+,2226299.99,1113633.39,1112666.61,1493409.00,755464.56,737944.44,156285.00,80940.99,75344.00,...,10924.56,411413.00,195293.39,216119.61,20308.00,10092.97,10215.03,122179.00,60060.03,62118.97
Kitsap,53035,2019,0-1920-6465+,270100.00,136586.10,133513.90,220256.00,111952.12,108303.88,8489.00,5242.45,3246.55,...,2282.41,15779.00,6502.51,9276.49,2955.99,1482.97,1473.02,17994.00,9062.46,8931.54
Kittitas,53037,2019,0-1920-6465+,46570.00,23943.41,22626.60,42939.00,22064.84,20874.16,465.00,285.55,179.45,...,283.41,1008.01,511.50,496.48,79.00,34.28,44.72,1536.01,787.64,748.35
Klickitat,53039,2019,0-1920-6465+,22430.00,11382.22,11047.79,20832.00,10607.03,10224.96,128.00,81.27,46.73,...,245.79,183.00,58.79,124.21,23.01,12.79,10.21,767.00,371.12,395.88
Lewis,53041,2019,0-1920-6465+,79480.00,40090.84,39389.14,73213.00,36884.81,36328.19,610.00,389.10,220.90,...,720.77,961.00,378.82,582.18,191.99,115.55,76.46,2982.01,1521.36,1460.65
Lincoln,53043,2019,0-1920-6465+,10960.00,5533.21,5426.78,10363.00,5241.66,5121.36,47.00,24.60,22.40,...,92.75,59.00,20.29,38.70,8.00,2.06,5.94,285.00,139.37,145.64
Mason,53045,2019,0-1920-6465+,64980.00,33517.67,31462.34,56911.00,29299.09,27611.91,816.99,598.64,218.35,...,1336.04,978.00,356.23,621.76,311.00,149.86,161.14,2986.00,1472.88,1513.12
Okanogan,53047,2019,0-1920-6465+,42730.00,21845.37,20884.63,35070.99,18020.08,17050.94,274.01,158.50,115.50,...,2606.03,425.00,159.19,265.81,128.00,70.69,57.31,1564.00,774.96,789.04
Pacific,53049,2019,0-1920-6465+,21639.99,11050.92,10589.08,19466.00,9928.41,9537.59,201.00,111.35,89.66,...,287.45,523.99,256.57,267.44,26.99,9.59,17.41,832.00,442.46,389.54
Pend Oreille,53051,2019,0-1920-6465+,13740.01,7030.83,6709.18,12507.99,6414.83,6093.17,80.00,50.30,29.70,...,248.43,122.00,41.42,80.58,21.01,9.15,11.85,474.01,228.55,245.45
Pierce,53053,2019,0-1920-6465+,888300.00,436941.02,451358.98,656286.00,325266.87,331019.14,68267.99,36027.84,32240.17,...,7316.47,64794.00,27128.56,37665.44,15208.00,7463.38,7744.62,69249.00,33875.86,35373.15
San Juan,53055,2019,0-1920-6465+,17149.99,8341.42,8808.58,16132.99,7892.66,8240.34,97.01,53.89,43.12,...,85.25,261.99,72.38,189.62,21.00,5.43,15.56,475.01,240.32,234.68
Skagit,53057,2019,0-1920-6465+,129200.00,64171.41,65028.60,116454.00,57921.10,58532.90,1283.99,758.99,525.00,...,1851.88,3066.00,1331.85,1734.13,410.00,222.89,187.11,4370.00,2172.45,2197.55
Skamania,53059,2019,0-1920-6465+,12060.00,6103.71,5956.29,11201.00,5717.96,5483.04,62.00,36.74,25.27,...,113.08,138.00,50.01,87.98,20.00,4.24,15.76,438.00,206.83,231.17
Snohomish,53061,2019,0-1920-6465+,818699.99,410200.44,408499.56,637831.00,320849.28,316981.71,26438.00,15159.28,11278.72,...,6453.87,94388.00,44046.76,50341.23,5006.00,2615.67,2390.32,42291.00,21237.28,21053.71
Spokane,53063,2019,0-1920-6465+,515249.99,256024.14,259225.86,456597.01,226390.35,230206.66,10225.00,6268.45,3956.54,...,4467.48,13566.00,5935.55,7630.45,3050.00,1589.07,1460.93,22886.01,11382.21,11503.79
Stevens,53065,2019,0-1920-6465+,45569.99,22821.77,22748.24,40527.00,20333.14,20193.86,209.00,111.76,97.24,...,1268.39,354.00,102.39,251.61,90.00,42.92,47.09,1782.00,891.95,890.05
Thurston,53067,2019,0-1920-6465+,285800.00,139596.84,146203.16,233292.00,114320.05,118971.95,9227.01,5213.02,4013.99,...,2259.00,18465.00,7847.71,10617.30,2783.00,1436.07,1346.93,17487.00,8493.00,8994.01
Wahkiakum,53069,2019,0-1920-6465+,4190.00,2069.57,2120.44,3904.99,1952.36,1952.65,18.00,10.44,7.56,...,30.44,39.00,8.04,30.96,8.00,5.65,2.36,161.00,64.53,96.47
Walla Walla,53071,2019,0-1920-6465+,62200.00,31179.63,31020.36,56878.99,28234.39,28644.61,1355.99,1054.75,301.25,...,396.31,1059.00,434.07,624.93,247.00,135.68,111.32,1807.00,865.06,941.94
Whatcom,53073,2019,0-1920-6465+,225300.00,112107.27,113192.73,194805.00,97028.30,97776.70,2767.00,1687.68,1079.31,...,3570.16,10092.00,4576.80,5515.21,751.00,388.68,362.32,9603.00,4713.98,4889.03
Whitman,53075,2019,0-1920-6465+,50130.00,25034.31,25095.69,41057.00,20603.75,20453.25,997.00,544.31,452.69,...,212.72,5269.99,2585.86,2684.15,116.01,60.39,55.62,2268.00,1030.73,1237.28
Yakima,53077,2019,0-1920-6465+,255950.01,127624.19,128325.81,223423.00,111413.67,112009.32,3875.01,2145.72,1729.28,...,7543.49,4341.00,2012.83,2328.17,566.00,296.17,269.84,8696.99,4251.29,4445.71

We can now get rid of the Age Group column, since we have summed our totals for each county:

In [10]:
racewa.drop(columns=['Age Group'],inplace=True)
racewa

,,,Total,Male,Female,White Total,White Male,White Female,Black Total,Black Male,Black Female,AIAN Total,...,AIAN Female,Asian Total,Asian Male,Asian Female,NHOPI Total,NHOPI Male,NHOPI Female,Two or More Races Total,Two or More Races Male,Two or More Races Female
Area Name,Area ID,Year,,,,,,,,,,,,,,,,,,,,,
Adams,53001,2019,20150.00,10233.51,9916.48,18056.00,9185.27,8870.74,446.00,265.57,180.43,1109.00,...,593.28,287.00,128.44,158.56,11.00,7.56,3.44,241.00,130.97,110.03
Asotin,53003,2019,22520.01,11100.48,11419.51,21087.00,10434.52,10652.48,144.00,81.99,62.01,355.99,...,190.14,184.00,66.23,117.78,58.00,24.19,33.82,691.00,327.70,363.30
Benton,53005,2019,201799.99,101396.07,100403.93,181938.00,91546.48,90391.52,3378.00,1845.43,1532.58,2503.99,...,1188.73,6850.00,3159.56,3690.44,472.01,251.30,220.70,6658.00,3278.05,3379.96
Chelan,53007,2019,78420.00,39199.90,39220.10,73391.00,36703.57,36687.43,510.01,300.71,209.29,1497.00,...,731.07,929.00,399.54,529.46,193.00,105.92,87.09,1900.00,924.22,975.78
Clallam,53009,2019,76010.00,37927.37,38082.63,65939.00,32773.48,33165.53,791.00,571.02,219.98,4242.01,...,2021.84,1420.00,554.31,865.70,143.00,75.71,67.29,3475.00,1732.70,1742.30
Clark,53011,2019,488500.00,241258.62,247241.37,420167.00,207785.26,212381.74,11609.00,6330.72,5278.28,5210.00,...,2547.91,25226.99,11500.23,13726.77,4053.01,2003.78,2049.22,22234.00,10976.56,11257.44
Columbia,53013,2019,4160.00,2108.21,2051.78,3855.00,1954.08,1900.93,17.00,14.91,2.10,80.00,...,45.56,39.00,16.37,22.63,48.01,28.59,19.42,121.00,59.84,61.17
Cowlitz,53015,2019,108950.00,53881.19,55068.81,99051.99,49007.37,50044.62,974.00,575.80,398.19,2091.00,...,1013.63,1981.00,823.36,1157.63,402.99,209.28,193.71,4449.00,2187.99,2261.02
Douglas,53017,2019,42819.99,21598.19,21221.80,40160.99,20267.40,19893.60,245.99,138.45,107.55,754.00,...,375.57,444.00,178.11,265.89,106.00,58.35,47.65,1108.99,577.45,531.54
Ferry,53019,2019,7830.00,4094.54,3735.47,5965.99,3131.25,2834.75,40.00,26.61,13.40,1225.00,...,591.26,104.01,42.35,61.64,15.00,7.41,7.59,479.99,253.17,226.82
Franklin,53021,2019,94680.00,48694.52,45985.48,86188.00,44251.92,41936.08,2175.00,1302.63,872.36,1233.99,...,545.54,2214.00,1074.47,1139.54,406.00,208.43,197.58,2463.00,1168.60,1294.39
Garfield,53023,2019,2220.00,1080.59,1139.41,2135.00,1043.67,1091.32,0.00,0.00,0.00,13.00,...,8.15,28.01,10.44,17.55,1.00,0.00,1.00,42.99,21.61,21.38
Grant,53025,2019,98740.01,50428.21,48311.79,91284.00,46592.99,44691.00,1774.01,998.94,775.05,1923.00,...,921.31,1175.00,551.76,623.24,132.00,75.48,56.52,2452.01,1207.36,1244.64
Grays Harbor,53027,2019,74160.01,38712.47,35447.52,64456.00,33444.12,31011.88,977.00,771.42,205.58,3927.01,...,1775.50,1304.00,573.40,730.61,251.00,161.57,89.43,3245.00,1610.46,1634.54
Island,53029,2019,84820.00,41723.00,43096.99,72374.00,35922.77,36451.23,2221.01,1322.42,898.58,800.00,...,412.07,4536.00,1685.41,2850.59,515.00,259.90,255.10,4374.01,2144.57,2229.41
Jefferson,53031,2019,31900.00,15888.41,16011.59,28855.00,14362.92,14492.07,311.01,226.88,84.11,827.99,...,413.75,630.01,236.06,393.95,85.00,55.65,29.35,1191.00,592.66,598.35
King,53033,2019,2226299.99,1113633.39,1112666.61,1493409.00,755464.56,737944.44,156285.00,80940.99,75344.00,22706.00,...,10924.56,411413.00,195293.39,216119.61,20308.00,10092.97,10215.03,122179.00,60060.03,62118.97
Kitsap,53035,2019,270100.00,136586.10,133513.90,220256.00,111952.12,108303.88,8489.00,5242.45,3246.55,4626.01,...,2282.41,15779.00,6502.51,9276.49,2955.99,1482.97,1473.02,17994.00,9062.46,8931.54
Kittitas,53037,2019,46570.00,23943.41,22626.60,42939.00,22064.84,20874.16,465.00,285.55,179.45,543.01,...,283.41,1008.01,511.50,496.48,79.00,34.28,44.72,1536.01,787.64,748.35
Klickitat,53039,2019,22430.00,11382.22,11047.79,20832.00,10607.03,10224.96,128.00,81.27,46.73,497.00,...,245.79,183.00,58.79,124.21,23.01,12.79,10.21,767.00,371.12,395.88
Lewis,53041,2019,79480.00,40090.84,39389.14,73213.00,36884.81,36328.19,610.00,389.10,220.90,1522.00,...,720.77,961.00,378.82,582.18,191.99,115.55,76.46,2982.01,1521.36,1460.65
Lincoln,53043,2019,10960.00,5533.21,5426.78,10363.00,5241.66,5121.36,47.00,24.60,22.40,198.00,...,92.75,59.00,20.29,38.70,8.00,2.06,5.94,285.00,139.37,145.64
Mason,53045,2019,64980.00,33517.67,31462.34,56911.00,29299.09,27611.91,816.99,598.64,218.35,2977.00,...,1336.04,978.00,356.23,621.76,311.00,149.86,161.14,2986.00,1472.88,1513.12
Okanogan,53047,2019,42730.00,21845.37,20884.63,35070.99,18020.08,17050.94,274.01,158.50,115.50,5268.00,...,2606.03,425.00,159.19,265.81,128.00,70.69,57.31,1564.00,774.96,789.04
Pacific,53049,2019,21639.99,11050.92,10589.08,19466.00,9928.41,9537.59,201.00,111.35,89.66,590.00,...,287.45,523.99,256.57,267.44,26.99,9.59,17.41,832.00,442.46,389.54
Pend Oreille,53051,2019,13740.01,7030.83,6709.18,12507.99,6414.83,6093.17,80.00,50.30,29.70,535.00,...,248.43,122.00,41.42,80.58,21.01,9.15,11.85,474.01,228.55,245.45
Pierce,53053,2019,888300.00,436941.02,451358.98,656286.00,325266.87,331019.14,68267.99,36027.84,32240.17,14495.00,...,7316.47,64794.00,27128.56,37665.44,15208.00,7463.38,7744.62,69249.00,33875.86,35373.15
San Juan,53055,2019,17149.99,8341.42,8808.58,16132.99,7892.66,8240.34,97.01,53.89,43.12,162.00,...,85.25,261.99,72.38,189.62,21.00,5.43,15.56,475.01,240.32,234.68
Skagit,53057,2019,129200.00,64171.41,65028.60,116454.00,57921.10,58532.90,1283.99,758.99,525.00,3616.00,...,1851.88,3066.00,1331.85,1734.13,410.00,222.89,187.11,4370.00,2172.45,2197.55
Skamania,53059,2019,12060.00,6103.71,5956.29,11201.00,5717.96,5483.04,62.00,36.74,25.27,201.00,...,113.08,138.00,50.01,87.98,20.00,4.24,15.76,438.00,206.83,231.17
Snohomish,53061,2019,818699.99,410200.44,408499.56,637831.00,320849.28,316981.71,26438.00,15159.28,11278.72,12746.01,...,6453.87,94388.00,44046.76,50341.23,5006.00,2615.67,2390.32,42291.00,21237.28,21053.71
Spokane,53063,2019,515249.99,256024.14,259225.86,456597.01,226390.35,230206.66,10225.00,6268.45,3956.54,8925.99,...,4467.48,13566.00,5935.55,7630.45,3050.00,1589.07,1460.93,22886.01,11382.21,11503.79
Stevens,53065,2019,45569.99,22821.77,22748.24,40527.00,20333.14,20193.86,209.00,111.76,97.24,2608.00,...,1268.39,354.00,102.39,251.61,90.00,42.92,47.09,1782.00,891.95,890.05
Thurston,53067,2019,285800.00,139596.84,146203.16,233292.00,114320.05,118971.95,9227.01,5213.02,4013.99,4546.01,...,2259.00,18465.00,7847.71,10617.30,2783.00,1436.07,1346.93,17487.00,8493.00,8994.01
Wahkiakum,53069,2019,4190.00,2069.57,2120.44,3904.99,1952.36,1952.65,18.00,10.44,7.56,59.01,...,30.44,39.00,8.04,30.96,8.00,5.65,2.36,161.00,64.53,96.47
Walla Walla,53071,2019,62200.00,31179.63,31020.36,56878.99,28234.39,28644.61,1355.99,1054.75,301.25,852.00,...,396.31,1059.00,434.07,624.93,247.00,135.68,111.32,1807.00,865.06,941.94
Whatcom,53073,2019,225300.00,112107.27,113192.73,194805.00,97028.30,97776.70,2767.00,1687.68,1079.31,7282.00,...,3570.16,10092.00,4576.80,5515.21,751.00,388.68,362.32,9603.00,4713.98,4889.03
Whitman,53075,2019,50130.00,25034.31,25095.69,41057.00,20603.75,20453.25,997.00,544.31,452.69,422.00,...,212.72,5269.99,2585.86,2684.15,116.01,60.39,55.62,2268.00,1030.73,1237.28
Yakima,53077,2019,255950.01,127624.19,128325.81,223423.00,111413.67,112009.32,3875.01,2145.72,1729.28,15048.01,...,7543.49,4341.00,2012.83,2328.17,566.00,296.17,269.84,8696.99,4251.29,4445.71

Now, I want to keep only columns that have total values for each race category. First, I create a subset that includes all of these columns. Then, I run a function that will keep this subset:

In [11]:
[name for name in racewa.columns if 'Total' in name]

['Total',
 'White Total',
 'Black Total',
 'AIAN Total',
 'Asian Total',
 'NHOPI Total',
 'Two or More Races Total']

In [12]:
racewa=racewa.loc[:,[name for name in racewa.columns if 'Total' in name]]
racewa

,,,Total,White Total,Black Total,AIAN Total,Asian Total,NHOPI Total,Two or More Races Total
Area Name,Area ID,Year,,,,,,,
Adams,53001,2019,20150.00,18056.00,446.00,1109.00,287.00,11.00,241.00
Asotin,53003,2019,22520.01,21087.00,144.00,355.99,184.00,58.00,691.00
Benton,53005,2019,201799.99,181938.00,3378.00,2503.99,6850.00,472.01,6658.00
Chelan,53007,2019,78420.00,73391.00,510.01,1497.00,929.00,193.00,1900.00
Clallam,53009,2019,76010.00,65939.00,791.00,4242.01,1420.00,143.00,3475.00
Clark,53011,2019,488500.00,420167.00,11609.00,5210.00,25226.99,4053.01,22234.00
Columbia,53013,2019,4160.00,3855.00,17.00,80.00,39.00,48.01,121.00
Cowlitz,53015,2019,108950.00,99051.99,974.00,2091.00,1981.00,402.99,4449.00
Douglas,53017,2019,42819.99,40160.99,245.99,754.00,444.00,106.00,1108.99
Ferry,53019,2019,7830.00,5965.99,40.00,1225.00,104.01,15.00,479.99
Franklin,53021,2019,94680.00,86188.00,2175.00,1233.99,2214.00,406.00,2463.00
Garfield,53023,2019,2220.00,2135.00,0.00,13.00,28.01,1.00,42.99
Grant,53025,2019,98740.01,91284.00,1774.01,1923.00,1175.00,132.00,2452.01
Grays Harbor,53027,2019,74160.01,64456.00,977.00,3927.01,1304.00,251.00,3245.00
Island,53029,2019,84820.00,72374.00,2221.01,800.00,4536.00,515.00,4374.01
Jefferson,53031,2019,31900.00,28855.00,311.01,827.99,630.01,85.00,1191.00
King,53033,2019,2226299.99,1493409.00,156285.00,22706.00,411413.00,20308.00,122179.00
Kitsap,53035,2019,270100.00,220256.00,8489.00,4626.01,15779.00,2955.99,17994.00
Kittitas,53037,2019,46570.00,42939.00,465.00,543.01,1008.01,79.00,1536.01
Klickitat,53039,2019,22430.00,20832.00,128.00,497.00,183.00,23.01,767.00
Lewis,53041,2019,79480.00,73213.00,610.00,1522.00,961.00,191.99,2982.01
Lincoln,53043,2019,10960.00,10363.00,47.00,198.00,59.00,8.00,285.00
Mason,53045,2019,64980.00,56911.00,816.99,2977.00,978.00,311.00,2986.00
Okanogan,53047,2019,42730.00,35070.99,274.01,5268.00,425.00,128.00,1564.00
Pacific,53049,2019,21639.99,19466.00,201.00,590.00,523.99,26.99,832.00
Pend Oreille,53051,2019,13740.01,12507.99,80.00,535.00,122.00,21.01,474.01
Pierce,53053,2019,888300.00,656286.00,68267.99,14495.00,64794.00,15208.00,69249.00
San Juan,53055,2019,17149.99,16132.99,97.01,162.00,261.99,21.00,475.01
Skagit,53057,2019,129200.00,116454.00,1283.99,3616.00,3066.00,410.00,4370.00
Skamania,53059,2019,12060.00,11201.00,62.00,201.00,138.00,20.00,438.00
Snohomish,53061,2019,818699.99,637831.00,26438.00,12746.01,94388.00,5006.00,42291.00
Spokane,53063,2019,515249.99,456597.01,10225.00,8925.99,13566.00,3050.00,22886.01
Stevens,53065,2019,45569.99,40527.00,209.00,2608.00,354.00,90.00,1782.00
Thurston,53067,2019,285800.00,233292.00,9227.01,4546.01,18465.00,2783.00,17487.00
Wahkiakum,53069,2019,4190.00,3904.99,18.00,59.01,39.00,8.00,161.00
Walla Walla,53071,2019,62200.00,56878.99,1355.99,852.00,1059.00,247.00,1807.00
Whatcom,53073,2019,225300.00,194805.00,2767.00,7282.00,10092.00,751.00,9603.00
Whitman,53075,2019,50130.00,41057.00,997.00,422.00,5269.99,116.01,2268.00
Yakima,53077,2019,255950.01,223423.00,3875.01,15048.01,4341.00,566.00,8696.99

Now that I have only totals, I reset the index so that Area Name, Area ID, and Year are now columns within the data frame again:

In [13]:
racewa.reset_index(drop=False,inplace=True)

In [14]:
racewa

,Area Name,Area ID,Year,Total,White Total,Black Total,AIAN Total,Asian Total,NHOPI Total,Two or More Races Total
0,Adams,53001,2019,20150.00,18056.00,446.00,1109.00,287.00,11.00,241.00
1,Asotin,53003,2019,22520.01,21087.00,144.00,355.99,184.00,58.00,691.00
2,Benton,53005,2019,201799.99,181938.00,3378.00,2503.99,6850.00,472.01,6658.00
3,Chelan,53007,2019,78420.00,73391.00,510.01,1497.00,929.00,193.00,1900.00
4,Clallam,53009,2019,76010.00,65939.00,791.00,4242.01,1420.00,143.00,3475.00
5,Clark,53011,2019,488500.00,420167.00,11609.00,5210.00,25226.99,4053.01,22234.00
6,Columbia,53013,2019,4160.00,3855.00,17.00,80.00,39.00,48.01,121.00
7,Cowlitz,53015,2019,108950.00,99051.99,974.00,2091.00,1981.00,402.99,4449.00
8,Douglas,53017,2019,42819.99,40160.99,245.99,754.00,444.00,106.00,1108.99
9,Ferry,53019,2019,7830.00,5965.99,40.00,1225.00,104.01,15.00,479.99
10,Franklin,53021,2019,94680.00,86188.00,2175.00,1233.99,2214.00,406.00,2463.00
11,Garfield,53023,2019,2220.00,2135.00,0.00,13.00,28.01,1.00,42.99
12,Grant,53025,2019,98740.01,91284.00,1774.01,1923.00,1175.00,132.00,2452.01
13,Grays Harbor,53027,2019,74160.01,64456.00,977.00,3927.01,1304.00,251.00,3245.00
14,Island,53029,2019,84820.00,72374.00,2221.01,800.00,4536.00,515.00,4374.01
15,Jefferson,53031,2019,31900.00,28855.00,311.01,827.99,630.01,85.00,1191.00
16,King,53033,2019,2226299.99,1493409.00,156285.00,22706.00,411413.00,20308.00,122179.00
17,Kitsap,53035,2019,270100.00,220256.00,8489.00,4626.01,15779.00,2955.99,17994.00
18,Kittitas,53037,2019,46570.00,42939.00,465.00,543.01,1008.01,79.00,1536.01
19,Klickitat,53039,2019,22430.00,20832.00,128.00,497.00,183.00,23.01,767.00
20,Lewis,53041,2019,79480.00,73213.00,610.00,1522.00,961.00,191.99,2982.01
21,Lincoln,53043,2019,10960.00,10363.00,47.00,198.00,59.00,8.00,285.00
22,Mason,53045,2019,64980.00,56911.00,816.99,2977.00,978.00,311.00,2986.00
23,Okanogan,53047,2019,42730.00,35070.99,274.01,5268.00,425.00,128.00,1564.00
24,Pacific,53049,2019,21639.99,19466.00,201.00,590.00,523.99,26.99,832.00
25,Pend Oreille,53051,2019,13740.01,12507.99,80.00,535.00,122.00,21.01,474.01
26,Pierce,53053,2019,888300.00,656286.00,68267.99,14495.00,64794.00,15208.00,69249.00
27,San Juan,53055,2019,17149.99,16132.99,97.01,162.00,261.99,21.00,475.01
28,Skagit,53057,2019,129200.00,116454.00,1283.99,3616.00,3066.00,410.00,4370.00
29,Skamania,53059,2019,12060.00,11201.00,62.00,201.00,138.00,20.00,438.00
30,Snohomish,53061,2019,818699.99,637831.00,26438.00,12746.01,94388.00,5006.00,42291.00
31,Spokane,53063,2019,515249.99,456597.01,10225.00,8925.99,13566.00,3050.00,22886.01
32,Stevens,53065,2019,45569.99,40527.00,209.00,2608.00,354.00,90.00,1782.00
33,Thurston,53067,2019,285800.00,233292.00,9227.01,4546.01,18465.00,2783.00,17487.00
34,Wahkiakum,53069,2019,4190.00,3904.99,18.00,59.01,39.00,8.00,161.00
35,Walla Walla,53071,2019,62200.00,56878.99,1355.99,852.00,1059.00,247.00,1807.00
36,Whatcom,53073,2019,225300.00,194805.00,2767.00,7282.00,10092.00,751.00,9603.00
37,Whitman,53075,2019,50130.00,41057.00,997.00,422.00,5269.99,116.01,2268.00
38,Yakima,53077,2019,255950.01,223423.00,3875.01,15048.01,4341.00,566.00,8696.99

I can now drop columns that I do not need, which include Area ID and Year:

In [15]:
racewa.drop(columns=["Area ID", "Year"],inplace=True)
racewa

,Area Name,Total,White Total,Black Total,AIAN Total,Asian Total,NHOPI Total,Two or More Races Total
0,Adams,20150.00,18056.00,446.00,1109.00,287.00,11.00,241.00
1,Asotin,22520.01,21087.00,144.00,355.99,184.00,58.00,691.00
2,Benton,201799.99,181938.00,3378.00,2503.99,6850.00,472.01,6658.00
3,Chelan,78420.00,73391.00,510.01,1497.00,929.00,193.00,1900.00
4,Clallam,76010.00,65939.00,791.00,4242.01,1420.00,143.00,3475.00
5,Clark,488500.00,420167.00,11609.00,5210.00,25226.99,4053.01,22234.00
6,Columbia,4160.00,3855.00,17.00,80.00,39.00,48.01,121.00
7,Cowlitz,108950.00,99051.99,974.00,2091.00,1981.00,402.99,4449.00
8,Douglas,42819.99,40160.99,245.99,754.00,444.00,106.00,1108.99
9,Ferry,7830.00,5965.99,40.00,1225.00,104.01,15.00,479.99
10,Franklin,94680.00,86188.00,2175.00,1233.99,2214.00,406.00,2463.00
11,Garfield,2220.00,2135.00,0.00,13.00,28.01,1.00,42.99
12,Grant,98740.01,91284.00,1774.01,1923.00,1175.00,132.00,2452.01
13,Grays Harbor,74160.01,64456.00,977.00,3927.01,1304.00,251.00,3245.00
14,Island,84820.00,72374.00,2221.01,800.00,4536.00,515.00,4374.01
15,Jefferson,31900.00,28855.00,311.01,827.99,630.01,85.00,1191.00
16,King,2226299.99,1493409.00,156285.00,22706.00,411413.00,20308.00,122179.00
17,Kitsap,270100.00,220256.00,8489.00,4626.01,15779.00,2955.99,17994.00
18,Kittitas,46570.00,42939.00,465.00,543.01,1008.01,79.00,1536.01
19,Klickitat,22430.00,20832.00,128.00,497.00,183.00,23.01,767.00
20,Lewis,79480.00,73213.00,610.00,1522.00,961.00,191.99,2982.01
21,Lincoln,10960.00,10363.00,47.00,198.00,59.00,8.00,285.00
22,Mason,64980.00,56911.00,816.99,2977.00,978.00,311.00,2986.00
23,Okanogan,42730.00,35070.99,274.01,5268.00,425.00,128.00,1564.00
24,Pacific,21639.99,19466.00,201.00,590.00,523.99,26.99,832.00
25,Pend Oreille,13740.01,12507.99,80.00,535.00,122.00,21.01,474.01
26,Pierce,888300.00,656286.00,68267.99,14495.00,64794.00,15208.00,69249.00
27,San Juan,17149.99,16132.99,97.01,162.00,261.99,21.00,475.01
28,Skagit,129200.00,116454.00,1283.99,3616.00,3066.00,410.00,4370.00
29,Skamania,12060.00,11201.00,62.00,201.00,138.00,20.00,438.00
30,Snohomish,818699.99,637831.00,26438.00,12746.01,94388.00,5006.00,42291.00
31,Spokane,515249.99,456597.01,10225.00,8925.99,13566.00,3050.00,22886.01
32,Stevens,45569.99,40527.00,209.00,2608.00,354.00,90.00,1782.00
33,Thurston,285800.00,233292.00,9227.01,4546.01,18465.00,2783.00,17487.00
34,Wahkiakum,4190.00,3904.99,18.00,59.01,39.00,8.00,161.00
35,Walla Walla,62200.00,56878.99,1355.99,852.00,1059.00,247.00,1807.00
36,Whatcom,225300.00,194805.00,2767.00,7282.00,10092.00,751.00,9603.00
37,Whitman,50130.00,41057.00,997.00,422.00,5269.99,116.01,2268.00
38,Yakima,255950.01,223423.00,3875.01,15048.01,4341.00,566.00,8696.99

Now, I turn to California and Oregon. First, I need to check the column names for each data frame:

In [16]:
# finding positions:
list(enumerate(raceca.columns))

[(0, 'SUMLEV'),
 (1, 'STATE'),
 (2, 'COUNTY'),
 (3, 'STNAME'),
 (4, 'CTYNAME'),
 (5, 'YEAR'),
 (6, 'AGEGRP'),
 (7, 'TOT_POP'),
 (8, 'TOT_MALE'),
 (9, 'TOT_FEMALE'),
 (10, 'WA_MALE'),
 (11, 'WA_FEMALE'),
 (12, 'WA_TOTAL'),
 (13, 'BA_MALE'),
 (14, 'BA_FEMALE'),
 (15, 'BA_TOTAL'),
 (16, 'IA_MALE'),
 (17, 'IA_FEMALE'),
 (18, 'IA_TOTAL'),
 (19, 'AA_MALE'),
 (20, 'AA_FEMALE'),
 (21, 'AA_TOTAL'),
 (22, 'NA_MALE'),
 (23, 'NA_FEMALE'),
 (24, 'NA_TOTAL'),
 (25, 'TOM_MALE'),
 (26, 'TOM_FEMALE'),
 (27, 'TOM_TOTAL'),
 (28, 'WAC_MALE'),
 (29, 'WAC_FEMALE'),
 (30, 'BAC_MALE'),
 (31, 'BAC_FEMALE'),
 (32, 'IAC_MALE'),
 (33, 'IAC_FEMALE'),
 (34, 'AAC_MALE'),
 (35, 'AAC_FEMALE'),
 (36, 'NAC_MALE'),
 (37, 'NAC_FEMALE'),
 (38, 'NH_MALE'),
 (39, 'NH_FEMALE'),
 (40, 'NHWA_MALE'),
 (41, 'NHWA_FEMALE'),
 (42, 'NHBA_MALE'),
 (43, 'NHBA_FEMALE'),
 (44, 'NHIA_MALE'),
 (45, 'NHIA_FEMALE'),
 (46, 'NHAA_MALE'),
 (47, 'NHAA_FEMALE'),
 (48, 'NHNA_MALE'),
 (49, 'NHNA_FEMALE'),
 (50, 'NHTOM_MALE'),
 (51, 'NHTOM_FEMALE'),
 (52, 'NHWAC_MALE'),
 (53, 'NHWAC_FEMALE'),
 (54, 'NHBAC_MALE'),
 (55, 'NHBAC_FEMALE'),
 (56, 'NHIAC_MALE'),
 (57, 'NHIAC_FEMALE'),
 (58, 'NHAAC_MALE'),
 (59, 'NHAAC_FEMALE'),
 (60, 'NHNAC_MALE'),
 (61, 'NHNAC_FEMALE'),
 (62, 'H_MALE'),
 (63, 'H_FEMALE'),
 (64, 'HWA_MALE'),
 (65, 'HWA_FEMALE'),
 (66, 'HBA_MALE'),
 (67, 'HBA_FEMALE'),
 (68, 'HIA_MALE'),
 (69, 'HIA_FEMALE'),
 (70, 'HAA_MALE'),
 (71, 'HAA_FEMALE'),
 (72, 'HNA_MALE'),
 (73, 'HNA_FEMALE'),
 (74, 'HTOM_MALE'),
 (75, 'HTOM_FEMALE'),
 (76, 'HWAC_MALE'),
 (77, 'HWAC_FEMALE'),
 (78, 'HBAC_MALE'),
 (79, 'HBAC_FEMALE'),
 (80, 'HIAC_MALE'),
 (81, 'HIAC_FEMALE'),
 (82, 'HAAC_MALE'),
 (83, 'HAAC_FEMALE'),
 (84, 'HNAC_MALE'),
 (85, 'HNAC_FEMALE')]

In [17]:
# finding positions:
list(enumerate(raceor.columns))

[(0, 'SUMLEV'),
 (1, 'STATE'),
 (2, 'COUNTY'),
 (3, 'STNAME'),
 (4, 'CTYNAME'),
 (5, 'YEAR'),
 (6, 'AGEGRP'),
 (7, 'TOT_POP'),
 (8, 'TOT_MALE'),
 (9, 'TOT_FEMALE'),
 (10, 'WA_MALE'),
 (11, 'WA_FEMALE'),
 (12, 'WA_TOTAL'),
 (13, 'BA_MALE'),
 (14, 'BA_FEMALE'),
 (15, 'BA_TOTAL'),
 (16, 'IA_MALE'),
 (17, 'IA_FEMALE'),
 (18, 'IA_TOTAL'),
 (19, 'AA_MALE'),
 (20, 'AA_FEMALE'),
 (21, 'AA_TOTAL'),
 (22, 'NA_MALE'),
 (23, 'NA_FEMALE'),
 (24, 'NA_TOTAL'),
 (25, 'TOM_MALE'),
 (26, 'TOM_FEMALE'),
 (27, 'TOM_TOTAL'),
 (28, 'WAC_MALE'),
 (29, 'WAC_FEMALE'),
 (30, 'BAC_MALE'),
 (31, 'BAC_FEMALE'),
 (32, 'IAC_MALE'),
 (33, 'IAC_FEMALE'),
 (34, 'AAC_MALE'),
 (35, 'AAC_FEMALE'),
 (36, 'NAC_MALE'),
 (37, 'NAC_FEMALE'),
 (38, 'NH_MALE'),
 (39, 'NH_FEMALE'),
 (40, 'NHWA_MALE'),
 (41, 'NHWA_FEMALE'),
 (42, 'NHBA_MALE'),
 (43, 'NHBA_FEMALE'),
 (44, 'NHIA_MALE'),
 (45, 'NHIA_FEMALE'),
 (46, 'NHAA_MALE'),
 (47, 'NHAA_FEMALE'),
 (48, 'NHNA_MALE'),
 (49, 'NHNA_FEMALE'),
 (50, 'NHTOM_MALE'),
 (51, 'NHTOM_FEMALE'),
 (52, 'NHWAC_MALE'),
 (53, 'NHWAC_FEMALE'),
 (54, 'NHBAC_MALE'),
 (55, 'NHBAC_FEMALE'),
 (56, 'NHIAC_MALE'),
 (57, 'NHIAC_FEMALE'),
 (58, 'NHAAC_MALE'),
 (59, 'NHAAC_FEMALE'),
 (60, 'NHNAC_MALE'),
 (61, 'NHNAC_FEMALE'),
 (62, 'H_MALE'),
 (63, 'H_FEMALE'),
 (64, 'HWA_MALE'),
 (65, 'HWA_FEMALE'),
 (66, 'HBA_MALE'),
 (67, 'HBA_FEMALE'),
 (68, 'HIA_MALE'),
 (69, 'HIA_FEMALE'),
 (70, 'HAA_MALE'),
 (71, 'HAA_FEMALE'),
 (72, 'HNA_MALE'),
 (73, 'HNA_FEMALE'),
 (74, 'HTOM_MALE'),
 (75, 'HTOM_FEMALE'),
 (76, 'HWAC_MALE'),
 (77, 'HWAC_FEMALE'),
 (78, 'HBAC_MALE'),
 (79, 'HBAC_FEMALE'),
 (80, 'HIAC_MALE'),
 (81, 'HIAC_FEMALE'),
 (82, 'HAAC_MALE'),
 (83, 'HAAC_FEMALE'),
 (84, 'HNAC_MALE'),
 (85, 'HNAC_FEMALE')]

I want to only keep columns that Washington has, so I check the column numbers that encompasses all comparable columns. Now that I have found the range of columns that include those variables, I want to create a list that includes only those variables:

In [18]:
list(range(1,28))

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27]

Now that I have the subset, I filter down the California and Oregon data frames to only have columns 1-28:

In [19]:
raceca=raceca.iloc[:, list(range(1,28))]
raceca

,STATE,COUNTY,STNAME,CTYNAME,YEAR,AGEGRP,TOT_POP,TOT_MALE,TOT_FEMALE,WA_MALE,...,IA_TOTAL,AA_MALE,AA_FEMALE,AA_TOTAL,NA_MALE,NA_FEMALE,NA_TOTAL,TOM_MALE,TOM_FEMALE,TOM_TOTAL
0,6,1,California,Alameda County,1,0,1510271,740573,769698,400793,...,17735,193411,210284,403695,7200,7563,14763,36578,38578,75156
1,6,1,California,Alameda County,1,1,97652,50259,47393,24349,...,1490,12901,12146,25047,541,552,1093,5573,5224,10797
2,6,1,California,Alameda County,1,2,94546,48145,46401,23285,...,1290,12724,12366,25090,533,472,1005,4632,4456,9088
3,6,1,California,Alameda County,1,3,91070,46403,44667,22735,...,1256,11851,11129,22980,569,590,1159,3980,3935,7915
4,6,1,California,Alameda County,1,4,100394,51445,48949,25363,...,1425,13185,12332,25517,629,627,1256,3754,3713,7467
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13219,6,115,California,Yuba County,12,14,3669,1816,1853,1530,...,133,100,107,207,9,8,17,52,54,106
13220,6,115,California,Yuba County,12,15,2791,1296,1495,1110,...,77,63,59,122,6,5,11,40,54,94
13221,6,115,California,Yuba County,12,16,1778,858,920,757,...,61,29,58,87,0,2,2,21,30,51
13222,6,115,California,Yuba County,12,17,1066,458,608,400,...,25,20,31,51,2,4,6,9,8,17
13223,6,115,California,Yuba County,12,18,966,420,546,377,...,20,20,32,52,2,2,4,8,6,14

In [20]:
raceor=raceor.iloc[:, list(range(1,28))]
raceor

,STATE,COUNTY,STNAME,CTYNAME,YEAR,AGEGRP,TOT_POP,TOT_MALE,TOT_FEMALE,WA_MALE,...,IA_TOTAL,AA_MALE,AA_FEMALE,AA_TOTAL,NA_MALE,NA_FEMALE,NA_TOTAL,TOM_MALE,TOM_FEMALE,TOM_TOTAL
0,41,1,Oregon,Baker County,1,0,16134,8140,7994,7791,...,187,36,42,78,4,5,9,181,184,365
1,41,1,Oregon,Baker County,1,1,852,414,438,388,...,13,2,3,5,0,0,0,19,16,35
2,41,1,Oregon,Baker County,1,2,848,440,408,412,...,8,6,2,8,0,0,0,18,21,39
3,41,1,Oregon,Baker County,1,3,910,468,442,440,...,8,3,2,5,0,0,0,18,22,40
4,41,1,Oregon,Baker County,1,4,979,534,445,497,...,21,3,2,5,0,1,1,24,12,36
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8203,41,71,Oregon,Yamhill County,12,14,6281,2975,3306,2833,...,86,31,57,88,8,4,12,43,44,87
8204,41,71,Oregon,Yamhill County,12,15,4980,2376,2604,2282,...,51,24,29,53,5,3,8,27,29,56
8205,41,71,Oregon,Yamhill County,12,16,3382,1524,1858,1476,...,46,13,27,40,1,1,2,5,23,28
8206,41,71,Oregon,Yamhill County,12,17,2104,894,1210,866,...,22,8,13,21,1,2,3,5,13,18
8207,41,71,Oregon,Yamhill County,12,18,2352,855,1497,824,...,25,12,18,30,0,1,1,5,22,27

As with Washington, the California and Oregon data frames have several years of data. I only want to keep the most recent year, which is Year 12:

In [21]:
raceor.query('YEAR==12',inplace=True)

In [22]:
raceor

,STATE,COUNTY,STNAME,CTYNAME,YEAR,AGEGRP,TOT_POP,TOT_MALE,TOT_FEMALE,WA_MALE,...,IA_TOTAL,AA_MALE,AA_FEMALE,AA_TOTAL,NA_MALE,NA_FEMALE,NA_TOTAL,TOM_MALE,TOM_FEMALE,TOM_TOTAL
209,41,1,Oregon,Baker County,12,0,16124,8225,7899,7722,...,251,54,96,150,9,15,24,238,242,480
210,41,1,Oregon,Baker County,12,1,822,426,396,384,...,25,4,29,33,1,1,2,23,30,53
211,41,1,Oregon,Baker County,12,2,946,496,450,443,...,16,1,14,15,1,0,1,37,27,64
212,41,1,Oregon,Baker County,12,3,937,480,457,433,...,20,3,1,4,0,0,0,35,27,62
213,41,1,Oregon,Baker County,12,4,752,412,340,388,...,8,6,2,8,1,1,2,13,17,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8203,41,71,Oregon,Yamhill County,12,14,6281,2975,3306,2833,...,86,31,57,88,8,4,12,43,44,87
8204,41,71,Oregon,Yamhill County,12,15,4980,2376,2604,2282,...,51,24,29,53,5,3,8,27,29,56
8205,41,71,Oregon,Yamhill County,12,16,3382,1524,1858,1476,...,46,13,27,40,1,1,2,5,23,28
8206,41,71,Oregon,Yamhill County,12,17,2104,894,1210,866,...,22,8,13,21,1,2,3,5,13,18
8207,41,71,Oregon,Yamhill County,12,18,2352,855,1497,824,...,25,12,18,30,0,1,1,5,22,27

In [23]:
raceca.query('YEAR==12',inplace=True)

Also, California and Oregon display data for multiple age groups, as well as the total for each age group. Since total already includes the aggregate numbers for each county, I want to keep only this value for age group:

In [24]:
raceor.query('AGEGRP==0',inplace=True)

In [25]:
raceca.query('AGEGRP==0',inplace=True)

Once I have filtered down to only the total numbers, I reset the indices so that each data frame is ordered:

In [26]:
raceca.reset_index(drop=True,inplace=True)

In [27]:
raceor.reset_index(drop=True,inplace=True)

Next, the county name values for California and Oregon each have "County" included in the name. Washington does not, so I need to get rid of this text for the California and Oregon data frames:

In [28]:
raceca['CTYNAME']=raceca['CTYNAME'].str.replace(" County","")
raceor['CTYNAME']=raceor['CTYNAME'].str.replace(" County","")

Here is what the partially cleaned data frames look like so far:

In [29]:
raceca

,STATE,COUNTY,STNAME,CTYNAME,YEAR,AGEGRP,TOT_POP,TOT_MALE,TOT_FEMALE,WA_MALE,...,IA_TOTAL,AA_MALE,AA_FEMALE,AA_TOTAL,NA_MALE,NA_FEMALE,NA_TOTAL,TOM_MALE,TOM_FEMALE,TOM_TOTAL
0,6,1,California,Alameda,12,0,1671329,823247,848082,414416,...,17797,259991,280400,540391,7534,8227,15761,44091,45328,89419
1,6,3,California,Alpine,12,0,1129,609,520,424,...,290,11,7,18,0,0,0,28,22,50
2,6,5,California,Amador,12,0,39752,21638,18114,19053,...,925,318,347,665,61,55,116,697,647,1344
3,6,7,California,Butte,12,0,219186,108473,110713,92754,...,5547,5461,5523,10984,316,312,628,4896,5231,10127
4,6,9,California,Calaveras,12,0,45905,22847,23058,20794,...,905,390,469,859,58,64,122,874,895,1769
5,6,11,California,Colusa,12,0,21547,10975,10572,10011,...,594,152,185,337,63,67,130,273,301,574
6,6,13,California,Contra Costa,12,0,1153526,564187,589339,372197,...,11709,99630,111488,211118,3416,3455,6871,30693,31788,62481
7,6,15,California,Del Norte,12,0,27812,15186,12626,11674,...,2692,410,451,861,23,31,54,780,725,1505
8,6,17,California,El Dorado,12,0,192843,96158,96685,85557,...,2574,4128,5189,9317,223,213,436,3768,3812,7580
9,6,19,California,Fresno,12,0,999101,498648,500453,382292,...,29725,54900,56453,111353,1422,1393,2815,15895,16135,32030
10,6,21,California,Glenn,12,0,28393,14462,13931,12881,...,915,442,448,890,30,31,61,419,439,858
11,6,23,California,Humboldt,12,0,135558,67241,68317,56089,...,8637,1852,2078,3930,231,218,449,3749,3945,7694
12,6,25,California,Imperial,12,0,181215,92878,88337,82621,...,4496,1967,1856,3823,194,163,357,1563,1523,3086
13,6,27,California,Inyo,12,0,18039,9036,9003,7263,...,2436,143,164,307,18,12,30,307,336,643
14,6,29,California,Kern,12,0,900202,461034,439168,379621,...,23718,23750,24529,48279,1216,1238,2454,14205,14305,28510
15,6,31,California,Kings,12,0,152940,84342,68598,67356,...,4905,3301,3413,6714,269,268,537,3070,2650,5720
16,6,33,California,Lake,12,0,64386,32194,32192,27976,...,2880,412,476,888,94,102,196,1512,1511,3023
17,6,35,California,Lassen,12,0,30573,19026,11547,14780,...,1301,268,221,489,134,129,263,664,547,1211
18,6,37,California,Los Angeles,12,0,10039107,4949041,5090066,3552806,...,143968,722516,822929,1545445,18174,18477,36651,155367,160201,315568
19,6,39,California,Madera,12,0,157327,75885,81442,65900,...,6982,1955,2063,4018,243,238,481,2057,2051,4108
20,6,41,California,Marin,12,0,258826,126617,132209,107935,...,2552,7237,9851,17088,332,380,712,4993,5305,10298
21,6,43,California,Mariposa,12,0,17203,8764,8439,7801,...,608,140,143,283,19,14,33,352,336,688
22,6,45,California,Mendocino,12,0,86749,43021,43728,37022,...,5495,767,1213,1980,106,122,228,1733,1671,3404
23,6,47,California,Merced,12,0,277680,140185,137495,115016,...,7041,10903,10665,21568,565,496,1061,4429,4499,8928
24,6,49,California,Modoc,12,0,8841,4448,4393,3909,...,448,55,52,107,20,12,32,156,173,329
25,6,51,California,Mono,12,0,14444,7658,6786,6890,...,414,215,155,370,38,15,53,229,241,470
26,6,53,California,Monterey,12,0,434061,221129,212932,183308,...,11278,13386,15824,29210,1369,1258,2627,8187,8234,16421
27,6,55,California,Napa,12,0,137744,68535,69209,57493,...,1746,5757,6501,12258,274,303,577,2265,2311,4576
28,6,57,California,Nevada,12,0,99755,49003,50752,45823,...,1276,624,835,1459,100,112,212,1447,1679,3126
29,6,59,California,Orange,12,0,3175692,1566825,1608867,1125286,...,32466,326088,363553,689641,6251,6054,12305,57561,56973,114534
30,6,61,California,Placer,12,0,398329,194488,203841,163366,...,4225,15196,17641,32837,564,507,1071,9088,9068,18156
31,6,63,California,Plumas,12,0,18807,9357,9450,8460,...,596,87,118,205,22,10,32,395,352,747
32,6,65,California,Riverside,12,0,2470546,1232012,1238534,985814,...,47484,82579,94146,176725,5549,5560,11109,44517,44868,89385
33,6,67,California,Sacramento,12,0,1552058,758897,793161,479127,...,23988,126300,137713,264013,9661,10416,20077,49622,51813,101435
34,6,69,California,San Benito,12,0,62808,31448,31360,27468,...,1929,1138,1318,2456,151,130,281,1164,1076,2240
35,6,71,California,San Bernardino,12,0,2180085,1085607,1094478,837353,...,45218,82347,91179,173526,5207,5109,10316,38311,39284,77595
36,6,73,California,San Diego,12,0,3338330,1680017,1658313,1274179,...,44091,197279,222713,419992,9775,9672,19447,76831,76063,152894
37,6,75,California,San Francisco,12,0,881549,449221,432328,250486,...,6431,147442,169728,317170,2028,2003,4031,19926,19690,39616
38,6,77,California,San Joaquin,12,0,762148,380193,381955,252915,...,15001,64171,68073,132244,3244,3036,6280,20684,21142,41826
39,6,79,California,San Luis Obispo,12,0,283111,143377,139734,126123,...,3961,5537,5762,11299,289,232,521,5238,4944,10182
40,6,81,California,San Mateo,12,0,766573,379508,387065,230449,...,6584,110626,123957,234583,5625,5881,11506,18357,18274,36631
41,6,83,California,Santa Barbara,12,0,446499,223245,223254,190451,...,9564,12774,14098,26872,643,514,1157,8352,8479,16831
42,6,85,California,Santa Clara,12,0,1927852,976847,951005,516550,...,22666,374136,378104,752240,4447,4409,8856,41183,39000,80183
43,6,87,California,Santa Cruz,12,0,273213,135176,138037,117723,...,5008,6754,7674,14428,293,253,546,5668,5860,11528
44,6,89,California,Shasta,12,0,180080,88473,91607,77262,...,5727,2826,2828,5654,228,182,410,4088,4190,8278
45,6,91,California,Sierra,12,0,3005,1509,1496,1380,...,77,9,17,26,2,2,4,56,38,94
46,6,93,California,Siskiyou,12,0,43539,21654,21885,18587,...,2230,311,382,693,91,64,155,1190,1225,2415
47,6,95,California,Solano,12,0,447643,222764,224879,135220,...,5762,33080,39238,72318,2350,2299,4649,15979,16022,32001
48,6,97,California,Sonoma,12,0,494336,241221,253115,209590,...,10796,10082,12508,22590,863,1185,2048,9719,10097,19816
49,6,99,California,Stanislaus,12,0,550660,272956,277704,227339,...,10977,16257,17567,33824,2593,2529,5122,11263,11615,22878
50,6,101,California,Sutter,12,0,96971,48303,48668,34970,...,2318,8107,8347,16454,203,211,414,2384,2243,4627
51,6,103,California,Tehama,12,0,65084,32366,32718,29204,...,2154,451,487,938,87,64,151,1157,1251,2408
52,6,105,California,Trinity,12,0,12285,6314,5971,5454,...,636,89,95,184,16,13,29,351,305,656
53,6,107,California,Tulare,12,0,466195,232989,233206,205616,...,12934,8911,9632,18543,541,528,1069,6246,6197,12443
54,6,109,California,Tuolumne,12,0,54478,28213,26265,25227,...,1242,352,457,809,87,63,150,1019,953,1972
55,6,111,California,Ventura,12,0,846006,418712,427294,353207,...,15768,30561,36128,66689,1250,1170,2420,14669,15100,29769
56,6,113,California,Yolo,12,0,220500,106876,113624,79635,...,3927,15476,17728,33204,627,641,1268,5989,6407,12396
57,6,115,California,Yuba,12,0,78668,39819,38849,31245,...,2248,2837,2942,5779,227,207,434,2572,2467,5039

In [30]:
raceor

,STATE,COUNTY,STNAME,CTYNAME,YEAR,AGEGRP,TOT_POP,TOT_MALE,TOT_FEMALE,WA_MALE,...,IA_TOTAL,AA_MALE,AA_FEMALE,AA_TOTAL,NA_MALE,NA_FEMALE,NA_TOTAL,TOM_MALE,TOM_FEMALE,TOM_TOTAL
0,41,1,Oregon,Baker,12,0,16124,8225,7899,7722,...,251,54,96,150,9,15,24,238,242,480
1,41,3,Oregon,Benton,12,0,93053,46619,46434,40175,...,823,3361,3175,6536,130,123,253,1886,1899,3785
2,41,5,Oregon,Clackamas,12,0,418187,206274,211913,183599,...,4550,9288,11035,20323,636,574,1210,7678,7762,15440
3,41,7,Oregon,Clatsop,12,0,40224,19895,20329,18387,...,544,295,360,655,63,56,119,686,636,1322
4,41,9,Oregon,Columbia,12,0,52354,26224,26130,24309,...,809,212,384,596,63,64,127,1011,1025,2036
5,41,11,Oregon,Coos,12,0,64487,31848,32639,28873,...,1926,326,496,822,75,105,180,1417,1419,2836
6,41,13,Oregon,Crook,12,0,24404,12106,12298,11521,...,424,66,104,170,14,12,26,251,306,557
7,41,15,Oregon,Curry,12,0,22925,11259,11666,10339,...,605,77,117,194,19,20,39,444,465,909
8,41,17,Oregon,Deschutes,12,0,197692,97863,99829,92126,...,2175,1023,1502,2525,179,128,307,2726,2802,5528
9,41,19,Oregon,Douglas,12,0,110980,54671,56309,50738,...,2339,443,783,1226,105,97,202,1878,1989,3867
10,41,21,Oregon,Gilliam,12,0,1912,965,947,897,...,41,9,9,18,4,6,10,26,24,50
11,41,23,Oregon,Grant,12,0,7199,3620,3579,3415,...,122,21,29,50,2,7,9,100,109,209
12,41,25,Oregon,Harney,12,0,7393,3765,3628,3405,...,327,17,27,44,0,1,1,132,112,244
13,41,27,Oregon,Hood River,12,0,23382,11689,11693,10929,...,299,185,228,413,26,29,55,276,334,610
14,41,29,Oregon,Jackson,12,0,220944,107935,113009,99019,...,3640,1449,2052,3501,375,411,786,3893,4043,7936
15,41,31,Oregon,Jefferson,12,0,24658,12744,11914,9679,...,4524,81,135,216,33,25,58,429,419,848
16,41,33,Oregon,Josephine,12,0,87487,42652,44835,39543,...,1491,389,548,937,127,117,244,1522,1503,3025
17,41,35,Oregon,Klamath,12,0,68238,34123,34115,30189,...,3393,362,420,782,80,70,150,1460,1471,2931
18,41,37,Oregon,Lake,12,0,7869,4181,3688,3799,...,202,37,63,100,9,7,16,177,139,316
19,41,39,Oregon,Lane,12,0,382067,187811,194256,167069,...,6265,5324,6777,12101,539,497,1036,8853,8789,17642
20,41,41,Oregon,Lincoln,12,0,49962,24131,25831,21639,...,2016,264,417,681,51,54,105,927,999,1926
21,41,43,Oregon,Linn,12,0,129749,64248,65501,59430,...,2156,648,981,1629,148,138,286,2351,2314,4665
22,41,45,Oregon,Malheur,12,0,30571,16617,13954,15197,...,613,244,218,462,34,34,68,394,412,806
23,41,47,Oregon,Marion,12,0,347818,173337,174481,153340,...,9103,3973,4651,8624,1786,1812,3598,6389,6341,12730
24,41,49,Oregon,Morrow,12,0,11603,5901,5702,5459,...,292,26,43,69,16,21,37,161,135,296
25,41,51,Oregon,Multnomah,12,0,812855,402131,410724,319143,...,11785,30321,35351,65672,2774,2800,5574,18992,19450,38442
26,41,53,Oregon,Polk,12,0,86085,42099,43986,37738,...,2132,823,961,1784,229,197,426,1725,1701,3426
27,41,55,Oregon,Sherman,12,0,1780,925,855,864,...,51,4,11,15,1,0,1,26,16,42
28,41,57,Oregon,Tillamook,12,0,27036,13654,13382,12701,...,422,122,155,277,47,48,95,424,379,803
29,41,59,Oregon,Umatilla,12,0,77950,40789,37161,36761,...,3375,440,456,896,103,98,201,1080,992,2072
30,41,61,Oregon,Union,12,0,26835,13295,13540,12266,...,340,150,189,339,187,175,362,390,345,735
31,41,63,Oregon,Wallowa,12,0,7208,3543,3665,3386,...,68,11,25,36,4,6,10,89,82,171
32,41,65,Oregon,Wasco,12,0,26682,13387,13295,12145,...,1003,110,190,300,98,93,191,360,342,702
33,41,67,Oregon,Washington,12,0,601592,297962,303630,237276,...,6827,33944,36473,70417,1669,1499,3168,13389,13548,26937
34,41,69,Oregon,Wheeler,12,0,1332,647,685,597,...,34,8,6,14,0,3,3,20,34,54
35,41,71,Oregon,Yamhill,12,0,107100,53592,53508,48711,...,2148,977,1188,2165,175,93,268,1678,1706,3384

Now, I want to drop any columns that are superfluous or not helpful for our analysis:

In [31]:
raceca.drop(columns=['STATE', 'COUNTY','YEAR','AGEGRP','TOT_MALE','TOT_FEMALE','WA_MALE','WA_FEMALE','BA_MALE','BA_FEMALE','IA_FEMALE','IA_MALE','NA_FEMALE','NA_MALE','TOM_MALE', 'TOM_FEMALE','AA_MALE','AA_FEMALE'],inplace=True)
raceor.drop(columns=['STATE', 'COUNTY','YEAR','AGEGRP','TOT_MALE','TOT_FEMALE','WA_MALE','WA_FEMALE','BA_MALE','BA_FEMALE','IA_FEMALE','IA_MALE','NA_FEMALE','NA_MALE','TOM_MALE', 'TOM_FEMALE','AA_MALE','AA_FEMALE'],inplace=True)

Again, here is the what the data frames look like for California and Oregon:

In [32]:
raceca

,STNAME,CTYNAME,TOT_POP,WA_TOTAL,BA_TOTAL,IA_TOTAL,AA_TOTAL,NA_TOTAL,TOM_TOTAL
0,California,Alameda,1671329,823593,184368,17797,540391,15761,89419
1,California,Alpine,1129,767,4,290,18,0,50
2,California,Amador,39752,35636,1066,925,665,116,1344
3,California,Butte,219186,187742,4158,5547,10984,628,10127
4,California,Calaveras,45905,41752,498,905,859,122,1769
5,California,Colusa,21547,19630,282,594,337,130,574
6,California,Contra Costa,1153526,751283,110064,11709,211118,6871,62481
7,California,Del Norte,27812,21720,980,2692,861,54,1505
8,California,El Dorado,192843,170936,2000,2574,9317,436,7580
9,California,Fresno,999101,765202,57976,29725,111353,2815,32030
10,California,Glenn,28393,25292,377,915,890,61,858
11,California,Humboldt,135558,112830,2018,8637,3930,449,7694
12,California,Imperial,181215,163444,6009,4496,3823,357,3086
13,California,Inyo,18039,14404,219,2436,307,30,643
14,California,Kern,900202,740959,56282,23718,48279,2454,28510
15,California,Kings,152940,123647,11417,4905,6714,537,5720
16,California,Lake,64386,56048,1351,2880,888,196,3023
17,California,Lassen,30573,24740,2569,1301,489,263,1211
18,California,Los Angeles,10039107,7098309,899166,143968,1545445,36651,315568
19,California,Madera,157327,135183,6555,6982,4018,481,4108
20,California,Marin,258826,220821,7355,2552,17088,712,10298
21,California,Mariposa,17203,15364,227,608,283,33,688
22,California,Mendocino,86749,74656,986,5495,1980,228,3404
23,California,Merced,277680,228145,10937,7041,21568,1061,8928
24,California,Modoc,8841,7798,127,448,107,32,329
25,California,Mono,14444,13019,118,414,370,53,470
26,California,Monterey,434061,359555,14970,11278,29210,2627,16421
27,California,Napa,137744,115199,3388,1746,12258,577,4576
28,California,Nevada,99755,93051,631,1276,1459,212,3126
29,California,Orange,3175692,2258705,68041,32466,689641,12305,114534
30,California,Placer,398329,334288,7752,4225,32837,1071,18156
31,California,Plumas,18807,17025,202,596,205,32,747
32,California,Riverside,2470546,1966247,179596,47484,176725,11109,89385
33,California,Sacramento,1552058,973964,168581,23988,264013,20077,101435
34,California,San Benito,62808,54869,1033,1929,2456,281,2240
35,California,San Bernardino,2180085,1668976,204454,45218,173526,10316,77595
36,California,San Diego,3338330,2517388,184518,44091,419992,19447,152894
37,California,San Francisco,881549,465286,49015,6431,317170,4031,39616
38,California,San Joaquin,762148,503550,63247,15001,132244,6280,41826
39,California,San Luis Obispo,283111,251422,5726,3961,11299,521,10182
40,California,San Mateo,766573,456050,21219,6584,234583,11506,36631
41,California,Santa Barbara,446499,381178,10897,9564,26872,1157,16831
42,California,Santa Clara,1927852,1009277,54630,22666,752240,8856,80183
43,California,Santa Cruz,273213,237679,4024,5008,14428,546,11528
44,California,Shasta,180080,157768,2243,5727,5654,410,8278
45,California,Sierra,3005,2783,21,77,26,4,94
46,California,Siskiyou,43539,37380,666,2230,693,155,2415
47,California,Solano,447643,266790,66123,5762,72318,4649,32001
48,California,Sonoma,494336,428842,10244,10796,22590,2048,19816
49,California,Stanislaus,550660,458498,19361,10977,33824,5122,22878
50,California,Sutter,96971,70495,2663,2318,16454,414,4627
51,California,Tehama,65084,58737,696,2154,938,151,2408
52,California,Trinity,12285,10687,93,636,184,29,656
53,California,Tulare,466195,411030,10176,12934,18543,1069,12443
54,California,Tuolumne,54478,49208,1097,1242,809,150,1972
55,California,Ventura,846006,711087,20273,15768,66689,2420,29769
56,California,Yolo,220500,163141,6564,3927,33204,1268,12396
57,California,Yuba,78668,61664,3504,2248,5779,434,5039

In [33]:
raceor

,STNAME,CTYNAME,TOT_POP,WA_TOTAL,BA_TOTAL,IA_TOTAL,AA_TOTAL,NA_TOTAL,TOM_TOTAL
0,Oregon,Baker,16124,15108,111,251,150,24,480
1,Oregon,Benton,93053,80517,1139,823,6536,253,3785
2,Oregon,Clackamas,418187,371668,4996,4550,20323,1210,15440
3,Oregon,Clatsop,40224,37235,349,544,655,119,1322
4,Oregon,Columbia,52354,48388,398,809,596,127,2036
5,Oregon,Coos,64487,58323,400,1926,822,180,2836
6,Oregon,Crook,24404,23115,112,424,170,26,557
7,Oregon,Curry,22925,21053,125,605,194,39,909
8,Oregon,Deschutes,197692,186035,1122,2175,2525,307,5528
9,Oregon,Douglas,110980,102746,600,2339,1226,202,3867
10,Oregon,Gilliam,1912,1788,5,41,18,10,50
11,Oregon,Grant,7199,6789,20,122,50,9,209
12,Oregon,Harney,7393,6700,77,327,44,1,244
13,Oregon,Hood River,23382,21819,186,299,413,55,610
14,Oregon,Jackson,220944,202923,2158,3640,3501,786,7936
15,Oregon,Jefferson,24658,18710,302,4524,216,58,848
16,Oregon,Josephine,87487,81254,536,1491,937,244,3025
17,Oregon,Klamath,68238,60347,635,3393,782,150,2931
18,Oregon,Lake,7869,7177,58,202,100,16,316
19,Oregon,Lane,382067,340197,4826,6265,12101,1036,17642
20,Oregon,Lincoln,49962,44767,467,2016,681,105,1926
21,Oregon,Linn,129749,119974,1039,2156,1629,286,4665
22,Oregon,Malheur,30571,28109,513,613,462,68,806
23,Oregon,Marion,347818,308276,5487,9103,8624,3598,12730
24,Oregon,Morrow,11603,10779,130,292,69,37,296
25,Oregon,Multnomah,812855,642519,48863,11785,65672,5574,38442
26,Oregon,Polk,86085,77351,966,2132,1784,426,3426
27,Oregon,Sherman,1780,1663,8,51,15,1,42
28,Oregon,Tillamook,27036,25239,200,422,277,95,803
29,Oregon,Umatilla,77950,70448,958,3375,896,201,2072
30,Oregon,Union,26835,24837,222,340,339,362,735
31,Oregon,Wallowa,7208,6890,33,68,36,10,171
32,Oregon,Wasco,26682,24271,215,1003,300,191,702
33,Oregon,Washington,601592,479049,15194,6827,70417,3168,26937
34,Oregon,Wheeler,1332,1224,3,34,14,3,54
35,Oregon,Yamhill,107100,97848,1287,2148,2165,268,3384

Now, I want to check the column names in each data frame to make see what I need to add or rename:

In [34]:
racewa.columns

Index(['Area Name', 'Total', 'White Total', 'Black Total', 'AIAN Total',
       'Asian Total', 'NHOPI Total', 'Two or More Races Total'],
      dtype='object')

The Washington data frame does not have a column for state, so I need to create one:

In [35]:
racewa['State']='WA'
racewa

,Area Name,Total,White Total,Black Total,AIAN Total,Asian Total,NHOPI Total,Two or More Races Total,State
0,Adams,20150.00,18056.00,446.00,1109.00,287.00,11.00,241.00,WA
1,Asotin,22520.01,21087.00,144.00,355.99,184.00,58.00,691.00,WA
2,Benton,201799.99,181938.00,3378.00,2503.99,6850.00,472.01,6658.00,WA
3,Chelan,78420.00,73391.00,510.01,1497.00,929.00,193.00,1900.00,WA
4,Clallam,76010.00,65939.00,791.00,4242.01,1420.00,143.00,3475.00,WA
5,Clark,488500.00,420167.00,11609.00,5210.00,25226.99,4053.01,22234.00,WA
6,Columbia,4160.00,3855.00,17.00,80.00,39.00,48.01,121.00,WA
7,Cowlitz,108950.00,99051.99,974.00,2091.00,1981.00,402.99,4449.00,WA
8,Douglas,42819.99,40160.99,245.99,754.00,444.00,106.00,1108.99,WA
9,Ferry,7830.00,5965.99,40.00,1225.00,104.01,15.00,479.99,WA
10,Franklin,94680.00,86188.00,2175.00,1233.99,2214.00,406.00,2463.00,WA
11,Garfield,2220.00,2135.00,0.00,13.00,28.01,1.00,42.99,WA
12,Grant,98740.01,91284.00,1774.01,1923.00,1175.00,132.00,2452.01,WA
13,Grays Harbor,74160.01,64456.00,977.00,3927.01,1304.00,251.00,3245.00,WA
14,Island,84820.00,72374.00,2221.01,800.00,4536.00,515.00,4374.01,WA
15,Jefferson,31900.00,28855.00,311.01,827.99,630.01,85.00,1191.00,WA
16,King,2226299.99,1493409.00,156285.00,22706.00,411413.00,20308.00,122179.00,WA
17,Kitsap,270100.00,220256.00,8489.00,4626.01,15779.00,2955.99,17994.00,WA
18,Kittitas,46570.00,42939.00,465.00,543.01,1008.01,79.00,1536.01,WA
19,Klickitat,22430.00,20832.00,128.00,497.00,183.00,23.01,767.00,WA
20,Lewis,79480.00,73213.00,610.00,1522.00,961.00,191.99,2982.01,WA
21,Lincoln,10960.00,10363.00,47.00,198.00,59.00,8.00,285.00,WA
22,Mason,64980.00,56911.00,816.99,2977.00,978.00,311.00,2986.00,WA
23,Okanogan,42730.00,35070.99,274.01,5268.00,425.00,128.00,1564.00,WA
24,Pacific,21639.99,19466.00,201.00,590.00,523.99,26.99,832.00,WA
25,Pend Oreille,13740.01,12507.99,80.00,535.00,122.00,21.01,474.01,WA
26,Pierce,888300.00,656286.00,68267.99,14495.00,64794.00,15208.00,69249.00,WA
27,San Juan,17149.99,16132.99,97.01,162.00,261.99,21.00,475.01,WA
28,Skagit,129200.00,116454.00,1283.99,3616.00,3066.00,410.00,4370.00,WA
29,Skamania,12060.00,11201.00,62.00,201.00,138.00,20.00,438.00,WA
30,Snohomish,818699.99,637831.00,26438.00,12746.01,94388.00,5006.00,42291.00,WA
31,Spokane,515249.99,456597.01,10225.00,8925.99,13566.00,3050.00,22886.01,WA
32,Stevens,45569.99,40527.00,209.00,2608.00,354.00,90.00,1782.00,WA
33,Thurston,285800.00,233292.00,9227.01,4546.01,18465.00,2783.00,17487.00,WA
34,Wahkiakum,4190.00,3904.99,18.00,59.01,39.00,8.00,161.00,WA
35,Walla Walla,62200.00,56878.99,1355.99,852.00,1059.00,247.00,1807.00,WA
36,Whatcom,225300.00,194805.00,2767.00,7282.00,10092.00,751.00,9603.00,WA
37,Whitman,50130.00,41057.00,997.00,422.00,5269.99,116.01,2268.00,WA
38,Yakima,255950.01,223423.00,3875.01,15048.01,4341.00,566.00,8696.99,WA

I will also shorten the state name values for the California and Oregon data frames:

In [36]:
raceca['STNAME'].replace(['California'],['CA'], inplace=True)
raceor['STNAME'].replace(['Oregon'],['OR'], inplace=True)

Before I am ready to rename all data frame columns to the same name, I will reorder the columns so they are identical for each data frame. I will check the column names/order first:

In [37]:
raceca.columns

Index(['STNAME', 'CTYNAME', 'TOT_POP', 'WA_TOTAL', 'BA_TOTAL', 'IA_TOTAL',
       'AA_TOTAL', 'NA_TOTAL', 'TOM_TOTAL'],
      dtype='object')

In [38]:
raceor.columns

Index(['STNAME', 'CTYNAME', 'TOT_POP', 'WA_TOTAL', 'BA_TOTAL', 'IA_TOTAL',
       'AA_TOTAL', 'NA_TOTAL', 'TOM_TOTAL'],
      dtype='object')

I reorder the columns for California and Oregon to match the Washington data frame by creating a new columns function. Below I also check the results:

In [39]:
ca_new_columns= ['CTYNAME', 'TOT_POP', 'WA_TOTAL', 'BA_TOTAL',
       'IA_TOTAL', 'AA_TOTAL', 'NA_TOTAL', 'TOM_TOTAL','STNAME',]

In [40]:
raceca=raceca[ca_new_columns]

In [41]:
raceca

,CTYNAME,TOT_POP,WA_TOTAL,BA_TOTAL,IA_TOTAL,AA_TOTAL,NA_TOTAL,TOM_TOTAL,STNAME
0,Alameda,1671329,823593,184368,17797,540391,15761,89419,CA
1,Alpine,1129,767,4,290,18,0,50,CA
2,Amador,39752,35636,1066,925,665,116,1344,CA
3,Butte,219186,187742,4158,5547,10984,628,10127,CA
4,Calaveras,45905,41752,498,905,859,122,1769,CA
5,Colusa,21547,19630,282,594,337,130,574,CA
6,Contra Costa,1153526,751283,110064,11709,211118,6871,62481,CA
7,Del Norte,27812,21720,980,2692,861,54,1505,CA
8,El Dorado,192843,170936,2000,2574,9317,436,7580,CA
9,Fresno,999101,765202,57976,29725,111353,2815,32030,CA
10,Glenn,28393,25292,377,915,890,61,858,CA
11,Humboldt,135558,112830,2018,8637,3930,449,7694,CA
12,Imperial,181215,163444,6009,4496,3823,357,3086,CA
13,Inyo,18039,14404,219,2436,307,30,643,CA
14,Kern,900202,740959,56282,23718,48279,2454,28510,CA
15,Kings,152940,123647,11417,4905,6714,537,5720,CA
16,Lake,64386,56048,1351,2880,888,196,3023,CA
17,Lassen,30573,24740,2569,1301,489,263,1211,CA
18,Los Angeles,10039107,7098309,899166,143968,1545445,36651,315568,CA
19,Madera,157327,135183,6555,6982,4018,481,4108,CA
20,Marin,258826,220821,7355,2552,17088,712,10298,CA
21,Mariposa,17203,15364,227,608,283,33,688,CA
22,Mendocino,86749,74656,986,5495,1980,228,3404,CA
23,Merced,277680,228145,10937,7041,21568,1061,8928,CA
24,Modoc,8841,7798,127,448,107,32,329,CA
25,Mono,14444,13019,118,414,370,53,470,CA
26,Monterey,434061,359555,14970,11278,29210,2627,16421,CA
27,Napa,137744,115199,3388,1746,12258,577,4576,CA
28,Nevada,99755,93051,631,1276,1459,212,3126,CA
29,Orange,3175692,2258705,68041,32466,689641,12305,114534,CA
30,Placer,398329,334288,7752,4225,32837,1071,18156,CA
31,Plumas,18807,17025,202,596,205,32,747,CA
32,Riverside,2470546,1966247,179596,47484,176725,11109,89385,CA
33,Sacramento,1552058,973964,168581,23988,264013,20077,101435,CA
34,San Benito,62808,54869,1033,1929,2456,281,2240,CA
35,San Bernardino,2180085,1668976,204454,45218,173526,10316,77595,CA
36,San Diego,3338330,2517388,184518,44091,419992,19447,152894,CA
37,San Francisco,881549,465286,49015,6431,317170,4031,39616,CA
38,San Joaquin,762148,503550,63247,15001,132244,6280,41826,CA
39,San Luis Obispo,283111,251422,5726,3961,11299,521,10182,CA
40,San Mateo,766573,456050,21219,6584,234583,11506,36631,CA
41,Santa Barbara,446499,381178,10897,9564,26872,1157,16831,CA
42,Santa Clara,1927852,1009277,54630,22666,752240,8856,80183,CA
43,Santa Cruz,273213,237679,4024,5008,14428,546,11528,CA
44,Shasta,180080,157768,2243,5727,5654,410,8278,CA
45,Sierra,3005,2783,21,77,26,4,94,CA
46,Siskiyou,43539,37380,666,2230,693,155,2415,CA
47,Solano,447643,266790,66123,5762,72318,4649,32001,CA
48,Sonoma,494336,428842,10244,10796,22590,2048,19816,CA
49,Stanislaus,550660,458498,19361,10977,33824,5122,22878,CA
50,Sutter,96971,70495,2663,2318,16454,414,4627,CA
51,Tehama,65084,58737,696,2154,938,151,2408,CA
52,Trinity,12285,10687,93,636,184,29,656,CA
53,Tulare,466195,411030,10176,12934,18543,1069,12443,CA
54,Tuolumne,54478,49208,1097,1242,809,150,1972,CA
55,Ventura,846006,711087,20273,15768,66689,2420,29769,CA
56,Yolo,220500,163141,6564,3927,33204,1268,12396,CA
57,Yuba,78668,61664,3504,2248,5779,434,5039,CA

In [42]:
or_new_columns= ['CTYNAME', 'TOT_POP', 'WA_TOTAL', 'BA_TOTAL',
       'IA_TOTAL', 'AA_TOTAL', 'NA_TOTAL', 'TOM_TOTAL','STNAME',]

In [43]:
raceor=raceor[or_new_columns]

In [44]:
raceor

,CTYNAME,TOT_POP,WA_TOTAL,BA_TOTAL,IA_TOTAL,AA_TOTAL,NA_TOTAL,TOM_TOTAL,STNAME
0,Baker,16124,15108,111,251,150,24,480,OR
1,Benton,93053,80517,1139,823,6536,253,3785,OR
2,Clackamas,418187,371668,4996,4550,20323,1210,15440,OR
3,Clatsop,40224,37235,349,544,655,119,1322,OR
4,Columbia,52354,48388,398,809,596,127,2036,OR
5,Coos,64487,58323,400,1926,822,180,2836,OR
6,Crook,24404,23115,112,424,170,26,557,OR
7,Curry,22925,21053,125,605,194,39,909,OR
8,Deschutes,197692,186035,1122,2175,2525,307,5528,OR
9,Douglas,110980,102746,600,2339,1226,202,3867,OR
10,Gilliam,1912,1788,5,41,18,10,50,OR
11,Grant,7199,6789,20,122,50,9,209,OR
12,Harney,7393,6700,77,327,44,1,244,OR
13,Hood River,23382,21819,186,299,413,55,610,OR
14,Jackson,220944,202923,2158,3640,3501,786,7936,OR
15,Jefferson,24658,18710,302,4524,216,58,848,OR
16,Josephine,87487,81254,536,1491,937,244,3025,OR
17,Klamath,68238,60347,635,3393,782,150,2931,OR
18,Lake,7869,7177,58,202,100,16,316,OR
19,Lane,382067,340197,4826,6265,12101,1036,17642,OR
20,Lincoln,49962,44767,467,2016,681,105,1926,OR
21,Linn,129749,119974,1039,2156,1629,286,4665,OR
22,Malheur,30571,28109,513,613,462,68,806,OR
23,Marion,347818,308276,5487,9103,8624,3598,12730,OR
24,Morrow,11603,10779,130,292,69,37,296,OR
25,Multnomah,812855,642519,48863,11785,65672,5574,38442,OR
26,Polk,86085,77351,966,2132,1784,426,3426,OR
27,Sherman,1780,1663,8,51,15,1,42,OR
28,Tillamook,27036,25239,200,422,277,95,803,OR
29,Umatilla,77950,70448,958,3375,896,201,2072,OR
30,Union,26835,24837,222,340,339,362,735,OR
31,Wallowa,7208,6890,33,68,36,10,171,OR
32,Wasco,26682,24271,215,1003,300,191,702,OR
33,Washington,601592,479049,15194,6827,70417,3168,26937,OR
34,Wheeler,1332,1224,3,34,14,3,54,OR
35,Yamhill,107100,97848,1287,2148,2165,268,3384,OR

Now that they are in order, I am ready to give all data frames common names. I start by creating a dictionary to match names between the Washington and California data frame:

In [45]:
dict(zip(raceca.columns,racewa.columns))

{'CTYNAME': 'Area Name',
 'TOT_POP': 'Total',
 'WA_TOTAL': 'White Total',
 'BA_TOTAL': 'Black Total',
 'IA_TOTAL': 'AIAN Total',
 'AA_TOTAL': 'Asian Total',
 'NA_TOTAL': 'NHOPI Total',
 'TOM_TOTAL': 'Two or More Races Total',
 'STNAME': 'State'}

Once I have created the dictionary, I use the dictionary for the California data frame:

In [46]:
raceca.rename(columns=dict(zip(raceca.columns,racewa.columns)),inplace=True)

I repeat the above two steps for the Oregon data frame:

In [47]:
dict(zip(raceor.columns,racewa.columns))

{'CTYNAME': 'Area Name',
 'TOT_POP': 'Total',
 'WA_TOTAL': 'White Total',
 'BA_TOTAL': 'Black Total',
 'IA_TOTAL': 'AIAN Total',
 'AA_TOTAL': 'Asian Total',
 'NA_TOTAL': 'NHOPI Total',
 'TOM_TOTAL': 'Two or More Races Total',
 'STNAME': 'State'}

In [48]:
raceor.rename(columns=dict(zip(raceor.columns,racewa.columns)),inplace=True)

I check my results again:

In [49]:
raceca

,Area Name,Total,White Total,Black Total,AIAN Total,Asian Total,NHOPI Total,Two or More Races Total,State
0,Alameda,1671329,823593,184368,17797,540391,15761,89419,CA
1,Alpine,1129,767,4,290,18,0,50,CA
2,Amador,39752,35636,1066,925,665,116,1344,CA
3,Butte,219186,187742,4158,5547,10984,628,10127,CA
4,Calaveras,45905,41752,498,905,859,122,1769,CA
5,Colusa,21547,19630,282,594,337,130,574,CA
6,Contra Costa,1153526,751283,110064,11709,211118,6871,62481,CA
7,Del Norte,27812,21720,980,2692,861,54,1505,CA
8,El Dorado,192843,170936,2000,2574,9317,436,7580,CA
9,Fresno,999101,765202,57976,29725,111353,2815,32030,CA
10,Glenn,28393,25292,377,915,890,61,858,CA
11,Humboldt,135558,112830,2018,8637,3930,449,7694,CA
12,Imperial,181215,163444,6009,4496,3823,357,3086,CA
13,Inyo,18039,14404,219,2436,307,30,643,CA
14,Kern,900202,740959,56282,23718,48279,2454,28510,CA
15,Kings,152940,123647,11417,4905,6714,537,5720,CA
16,Lake,64386,56048,1351,2880,888,196,3023,CA
17,Lassen,30573,24740,2569,1301,489,263,1211,CA
18,Los Angeles,10039107,7098309,899166,143968,1545445,36651,315568,CA
19,Madera,157327,135183,6555,6982,4018,481,4108,CA
20,Marin,258826,220821,7355,2552,17088,712,10298,CA
21,Mariposa,17203,15364,227,608,283,33,688,CA
22,Mendocino,86749,74656,986,5495,1980,228,3404,CA
23,Merced,277680,228145,10937,7041,21568,1061,8928,CA
24,Modoc,8841,7798,127,448,107,32,329,CA
25,Mono,14444,13019,118,414,370,53,470,CA
26,Monterey,434061,359555,14970,11278,29210,2627,16421,CA
27,Napa,137744,115199,3388,1746,12258,577,4576,CA
28,Nevada,99755,93051,631,1276,1459,212,3126,CA
29,Orange,3175692,2258705,68041,32466,689641,12305,114534,CA
30,Placer,398329,334288,7752,4225,32837,1071,18156,CA
31,Plumas,18807,17025,202,596,205,32,747,CA
32,Riverside,2470546,1966247,179596,47484,176725,11109,89385,CA
33,Sacramento,1552058,973964,168581,23988,264013,20077,101435,CA
34,San Benito,62808,54869,1033,1929,2456,281,2240,CA
35,San Bernardino,2180085,1668976,204454,45218,173526,10316,77595,CA
36,San Diego,3338330,2517388,184518,44091,419992,19447,152894,CA
37,San Francisco,881549,465286,49015,6431,317170,4031,39616,CA
38,San Joaquin,762148,503550,63247,15001,132244,6280,41826,CA
39,San Luis Obispo,283111,251422,5726,3961,11299,521,10182,CA
40,San Mateo,766573,456050,21219,6584,234583,11506,36631,CA
41,Santa Barbara,446499,381178,10897,9564,26872,1157,16831,CA
42,Santa Clara,1927852,1009277,54630,22666,752240,8856,80183,CA
43,Santa Cruz,273213,237679,4024,5008,14428,546,11528,CA
44,Shasta,180080,157768,2243,5727,5654,410,8278,CA
45,Sierra,3005,2783,21,77,26,4,94,CA
46,Siskiyou,43539,37380,666,2230,693,155,2415,CA
47,Solano,447643,266790,66123,5762,72318,4649,32001,CA
48,Sonoma,494336,428842,10244,10796,22590,2048,19816,CA
49,Stanislaus,550660,458498,19361,10977,33824,5122,22878,CA
50,Sutter,96971,70495,2663,2318,16454,414,4627,CA
51,Tehama,65084,58737,696,2154,938,151,2408,CA
52,Trinity,12285,10687,93,636,184,29,656,CA
53,Tulare,466195,411030,10176,12934,18543,1069,12443,CA
54,Tuolumne,54478,49208,1097,1242,809,150,1972,CA
55,Ventura,846006,711087,20273,15768,66689,2420,29769,CA
56,Yolo,220500,163141,6564,3927,33204,1268,12396,CA
57,Yuba,78668,61664,3504,2248,5779,434,5039,CA

I want to make sure the renaming was successful. I am looking for all True values:

In [50]:
racewa.columns==raceca.columns
racewa.columns==raceor.columns
raceor.columns==raceca.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True])

The data frames are ready to append. I will start with appending Washington and California:

In [51]:
racewaca=racewa.append(raceca, ignore_index=True)

Next, I append the Washington/California data frame to the Oregon data frame:

In [52]:
westcoastrace=racewaca.append(raceor, ignore_index=True)

Here is the result of the complete appended dataset:

In [53]:
westcoastrace

,Area Name,Total,White Total,Black Total,AIAN Total,Asian Total,NHOPI Total,Two or More Races Total,State
0,Adams,20150.00,18056.0,446.00,1109.00,287.0,11.00,241.0,WA
1,Asotin,22520.01,21087.0,144.00,355.99,184.0,58.00,691.0,WA
2,Benton,201799.99,181938.0,3378.00,2503.99,6850.0,472.01,6658.0,WA
3,Chelan,78420.00,73391.0,510.01,1497.00,929.0,193.00,1900.0,WA
4,Clallam,76010.00,65939.0,791.00,4242.01,1420.0,143.00,3475.0,WA
...,...,...,...,...,...,...,...,...,...
128,Wallowa,7208.00,6890.0,33.00,68.00,36.0,10.00,171.0,OR
129,Wasco,26682.00,24271.0,215.00,1003.00,300.0,191.00,702.0,OR
130,Washington,601592.00,479049.0,15194.00,6827.00,70417.0,3168.00,26937.0,OR
131,Wheeler,1332.00,1224.0,3.00,34.00,14.0,3.00,54.0,OR
132,Yamhill,107100.00,97848.0,1287.00,2148.00,2165.0,268.00,3384.0,OR

Now, I want to simplify the column names for any analyses:

In [54]:
westcoastrace.rename(columns={'Area Name': 'County','Total':'total_population', 'White Total': 'white_total', 'Black Total': 'black_total', 'Asian Total': 'asian_total', 'AIAN Total': 'aian_total', 'NHOPI Total': 'nhopi_total', 'Two or More Races Total': 'multiracial_total'},inplace=True)

In [55]:
westcoastrace

,County,total_population,white_total,black_total,aian_total,asian_total,nhopi_total,multiracial_total,State
0,Adams,20150.00,18056.0,446.00,1109.00,287.0,11.00,241.0,WA
1,Asotin,22520.01,21087.0,144.00,355.99,184.0,58.00,691.0,WA
2,Benton,201799.99,181938.0,3378.00,2503.99,6850.0,472.01,6658.0,WA
3,Chelan,78420.00,73391.0,510.01,1497.00,929.0,193.00,1900.0,WA
4,Clallam,76010.00,65939.0,791.00,4242.01,1420.0,143.00,3475.0,WA
...,...,...,...,...,...,...,...,...,...
128,Wallowa,7208.00,6890.0,33.00,68.00,36.0,10.00,171.0,OR
129,Wasco,26682.00,24271.0,215.00,1003.00,300.0,191.00,702.0,OR
130,Washington,601592.00,479049.0,15194.00,6827.00,70417.0,3168.00,26937.0,OR
131,Wheeler,1332.00,1224.0,3.00,34.00,14.0,3.00,54.0,OR
132,Yamhill,107100.00,97848.0,1287.00,2148.00,2165.0,268.00,3384.0,OR

I also want to check to make sure the data types are consistent with the values in each column. Specifically, I want numeric values as float types and nonnumeric values as object:

In [56]:
westcoastrace.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133 entries, 0 to 132
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   County             133 non-null    object
 1   total_population   133 non-null    float64
 2   white_total        133 non-null    float64
 3   black_total        133 non-null    float64
 4   aian_total         133 non-null    float64
 5   asian_total        133 non-null    float64
 6   nhopi_total        133 non-null    float64
 7   multiracial_total  133 non-null    float64
 8   State              133 non-null    object
dtypes: float64(7), object(2)
memory usage: 9.5+ KB

It looks like everything is consistent, but just to be safe, I will show the steps for changing the data types:

In [57]:
westcoastrace[westcoastrace.columns[1:-1]]

,total_population,white_total,black_total,aian_total,asian_total,nhopi_total,multiracial_total
0,20150.00,18056.0,446.00,1109.00,287.0,11.00,241.0
1,22520.01,21087.0,144.00,355.99,184.0,58.00,691.0
2,201799.99,181938.0,3378.00,2503.99,6850.0,472.01,6658.0
3,78420.00,73391.0,510.01,1497.00,929.0,193.00,1900.0
4,76010.00,65939.0,791.00,4242.01,1420.0,143.00,3475.0
...,...,...,...,...,...,...,...
128,7208.00,6890.0,33.00,68.00,36.0,10.00,171.0
129,26682.00,24271.0,215.00,1003.00,300.0,191.00,702.0
130,601592.00,479049.0,15194.00,6827.00,70417.0,3168.00,26937.0
131,1332.00,1224.0,3.00,34.00,14.0,3.00,54.0
132,107100.00,97848.0,1287.00,2148.00,2165.0,268.00,3384.0

In [58]:
westcoastrace[westcoastrace.columns[1:-1]]=westcoastrace[westcoastrace.columns[1:-1]].astype('float')

In [59]:
westcoastrace.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133 entries, 0 to 132
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   County             133 non-null    object
 1   total_population   133 non-null    float64
 2   white_total        133 non-null    float64
 3   black_total        133 non-null    float64
 4   aian_total         133 non-null    float64
 5   asian_total        133 non-null    float64
 6   nhopi_total        133 non-null    float64
 7   multiracial_total  133 non-null    float64
 8   State              133 non-null    object
dtypes: float64(7), object(2)
memory usage: 9.5+ KB

Finally, having total numbers for each racial group is not helpful for a robust analysis, as it prevents a sound comparison between counties with different populations. I need to calculate each racial category as a percentage of the total population:

In [60]:
import numpy as np

First, I will round up all values, since some have a decimal:

In [61]:
westcoastrace.iloc[:,2:8]=westcoastrace.iloc[:,2:8].apply(np.ceil)

I want to replace the total population by summing up the values of each racial category:

In [62]:
westcoastrace.iloc[:,2:8].sum(axis=1) # axis=0 will sum by column

0       20151.0
1       22521.0
2      201803.0
3       78421.0
4       76011.0
         ...
128      7208.0
129     26682.0
130    601592.0
131      1332.0
132    107100.0
Length: 133, dtype: float64

In [63]:
westcoastrace['total_population']=westcoastrace.iloc[:,2:8].sum(axis=1)

I divide each column by total and multiply by 100 to get the share in percentages:

In [64]:
westcoastrace.iloc[:,2:8].div(westcoastrace.total_population, axis=0)*100

,white_total,black_total,aian_total,asian_total,nhopi_total,multiracial_total
0,89.603494,2.218252,5.503449,1.424247,0.054588,1.195970
1,93.632610,0.639403,1.580747,0.817015,0.257537,3.072688
2,90.156241,1.674405,1.240814,3.394399,0.234387,3.299753
3,93.585902,0.651611,1.908927,1.184632,0.246108,2.422820
4,86.749286,1.040639,5.582087,1.868151,0.188131,4.571707
...,...,...,...,...,...,...
128,95.588235,0.457825,0.943396,0.499445,0.138735,2.372364
129,90.963946,0.805787,3.759089,1.124353,0.715838,2.630987
130,79.630214,2.525632,1.134822,11.705109,0.526603,4.477619
131,91.891892,0.225225,2.552553,1.051051,0.225225,4.054054
132,91.361345,1.201681,2.005602,2.021475,0.250233,3.159664

Next, I want to create a new data frame with just the percentages for each race category. I also want to change the column names:

In [65]:
# new data frame with percent
racepct=westcoastrace.iloc[:,2:8].div(westcoastrace.total_population, axis=0)*100

In [66]:
# change column names
racepct.columns+'_pct'

Index(['white_total_pct', 'black_total_pct', 'aian_total_pct',
       'asian_total_pct', 'nhopi_total_pct', 'multiracial_total_pct'],
      dtype='object')

In [67]:
racepct.columns=racepct.columns+'_pct'

Check the result:

In [68]:
racepct

,white_total_pct,black_total_pct,aian_total_pct,asian_total_pct,nhopi_total_pct,multiracial_total_pct
0,89.603494,2.218252,5.503449,1.424247,0.054588,1.195970
1,93.632610,0.639403,1.580747,0.817015,0.257537,3.072688
2,90.156241,1.674405,1.240814,3.394399,0.234387,3.299753
3,93.585902,0.651611,1.908927,1.184632,0.246108,2.422820
4,86.749286,1.040639,5.582087,1.868151,0.188131,4.571707
...,...,...,...,...,...,...
128,95.588235,0.457825,0.943396,0.499445,0.138735,2.372364
129,90.963946,0.805787,3.759089,1.124353,0.715838,2.630987
130,79.630214,2.525632,1.134822,11.705109,0.526603,4.477619
131,91.891892,0.225225,2.552553,1.051051,0.225225,4.054054
132,91.361345,1.201681,2.005602,2.021475,0.250233,3.159664

I only want two decimal places, so I round to the nearest two decimal spots:

In [69]:
racepct.round(2)

,white_total_pct,black_total_pct,aian_total_pct,asian_total_pct,nhopi_total_pct,multiracial_total_pct
0,89.60,2.22,5.50,1.42,0.05,1.20
1,93.63,0.64,1.58,0.82,0.26,3.07
2,90.16,1.67,1.24,3.39,0.23,3.30
3,93.59,0.65,1.91,1.18,0.25,2.42
4,86.75,1.04,5.58,1.87,0.19,4.57
...,...,...,...,...,...,...
128,95.59,0.46,0.94,0.50,0.14,2.37
129,90.96,0.81,3.76,1.12,0.72,2.63
130,79.63,2.53,1.13,11.71,0.53,4.48
131,91.89,0.23,2.55,1.05,0.23,4.05
132,91.36,1.20,2.01,2.02,0.25,3.16

In [70]:
racepct=racepct.round(2)

Lastly, I want to concatenate my original data frame with the race percentages:

In [71]:
pd.concat([westcoastrace,racepct],axis=1)

,County,total_population,white_total,black_total,aian_total,asian_total,nhopi_total,multiracial_total,State,white_total_pct,black_total_pct,aian_total_pct,asian_total_pct,nhopi_total_pct,multiracial_total_pct
0,Adams,20151.0,18056.0,447.0,1109.0,287.0,11.0,241.0,WA,89.60,2.22,5.50,1.42,0.05,1.20
1,Asotin,22521.0,21087.0,144.0,356.0,184.0,58.0,692.0,WA,93.63,0.64,1.58,0.82,0.26,3.07
2,Benton,201803.0,181938.0,3379.0,2504.0,6850.0,473.0,6659.0,WA,90.16,1.67,1.24,3.39,0.23,3.30
3,Chelan,78421.0,73391.0,511.0,1497.0,929.0,193.0,1900.0,WA,93.59,0.65,1.91,1.18,0.25,2.42
4,Clallam,76011.0,65939.0,791.0,4243.0,1420.0,143.0,3475.0,WA,86.75,1.04,5.58,1.87,0.19,4.57
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128,Wallowa,7208.0,6890.0,33.0,68.0,36.0,10.0,171.0,OR,95.59,0.46,0.94,0.50,0.14,2.37
129,Wasco,26682.0,24271.0,215.0,1003.0,300.0,191.0,702.0,OR,90.96,0.81,3.76,1.12,0.72,2.63
130,Washington,601592.0,479049.0,15194.0,6827.0,70417.0,3168.0,26937.0,OR,79.63,2.53,1.13,11.71,0.53,4.48
131,Wheeler,1332.0,1224.0,3.0,34.0,14.0,3.0,54.0,OR,91.89,0.23,2.55,1.05,0.23,4.05
132,Yamhill,107100.0,97848.0,1287.0,2148.0,2165.0,268.0,3384.0,OR,91.36,1.20,2.01,2.02,0.25,3.16

In [72]:
westcoastrace=pd.concat([westcoastrace,racepct],axis=1)

In [73]:
westcoastrace

,County,total_population,white_total,black_total,aian_total,asian_total,nhopi_total,multiracial_total,State,white_total_pct,black_total_pct,aian_total_pct,asian_total_pct,nhopi_total_pct,multiracial_total_pct
0,Adams,20151.0,18056.0,447.0,1109.0,287.0,11.0,241.0,WA,89.60,2.22,5.50,1.42,0.05,1.20
1,Asotin,22521.0,21087.0,144.0,356.0,184.0,58.0,692.0,WA,93.63,0.64,1.58,0.82,0.26,3.07
2,Benton,201803.0,181938.0,3379.0,2504.0,6850.0,473.0,6659.0,WA,90.16,1.67,1.24,3.39,0.23,3.30
3,Chelan,78421.0,73391.0,511.0,1497.0,929.0,193.0,1900.0,WA,93.59,0.65,1.91,1.18,0.25,2.42
4,Clallam,76011.0,65939.0,791.0,4243.0,1420.0,143.0,3475.0,WA,86.75,1.04,5.58,1.87,0.19,4.57
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128,Wallowa,7208.0,6890.0,33.0,68.0,36.0,10.0,171.0,OR,95.59,0.46,0.94,0.50,0.14,2.37
129,Wasco,26682.0,24271.0,215.0,1003.0,300.0,191.0,702.0,OR,90.96,0.81,3.76,1.12,0.72,2.63
130,Washington,601592.0,479049.0,15194.0,6827.0,70417.0,3168.0,26937.0,OR,79.63,2.53,1.13,11.71,0.53,4.48
131,Wheeler,1332.0,1224.0,3.0,34.0,14.0,3.0,54.0,OR,91.89,0.23,2.55,1.05,0.23,4.05
132,Yamhill,107100.0,97848.0,1287.0,2148.0,2165.0,268.0,3384.0,OR,91.36,1.20,2.01,2.02,0.25,3.16

I will check the column names and orders of the concatenated data frame:

In [74]:
westcoastrace.columns

Index(['County', 'total_population', 'white_total', 'black_total',
       'aian_total', 'asian_total', 'nhopi_total', 'multiracial_total',
       'State', 'white_total_pct', 'black_total_pct', 'aian_total_pct',
       'asian_total_pct', 'nhopi_total_pct', 'multiracial_total_pct'],
      dtype='object')

I want to move State to the second column after county:

In [75]:
westcoastrace_new_columns= ['County', 'State', 'total_population', 'white_total', 'black_total', 'aian_total', 'asian_total', 'nhopi_total', 'multiracial_total',
       'white_total_pct', 'black_total_pct', 'aian_total_pct', 'asian_total_pct','nhopi_total_pct', 'multiracial_total_pct']

In [76]:
westcoastrace=westcoastrace[westcoastrace_new_columns]

Checking my results:

In [77]:
westcoastrace

,County,State,total_population,white_total,black_total,aian_total,asian_total,nhopi_total,multiracial_total,white_total_pct,black_total_pct,aian_total_pct,asian_total_pct,nhopi_total_pct,multiracial_total_pct
0,Adams,WA,20151.0,18056.0,447.0,1109.0,287.0,11.0,241.0,89.60,2.22,5.50,1.42,0.05,1.20
1,Asotin,WA,22521.0,21087.0,144.0,356.0,184.0,58.0,692.0,93.63,0.64,1.58,0.82,0.26,3.07
2,Benton,WA,201803.0,181938.0,3379.0,2504.0,6850.0,473.0,6659.0,90.16,1.67,1.24,3.39,0.23,3.30
3,Chelan,WA,78421.0,73391.0,511.0,1497.0,929.0,193.0,1900.0,93.59,0.65,1.91,1.18,0.25,2.42
4,Clallam,WA,76011.0,65939.0,791.0,4243.0,1420.0,143.0,3475.0,86.75,1.04,5.58,1.87,0.19,4.57
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128,Wallowa,OR,7208.0,6890.0,33.0,68.0,36.0,10.0,171.0,95.59,0.46,0.94,0.50,0.14,2.37
129,Wasco,OR,26682.0,24271.0,215.0,1003.0,300.0,191.0,702.0,90.96,0.81,3.76,1.12,0.72,2.63
130,Washington,OR,601592.0,479049.0,15194.0,6827.0,70417.0,3168.0,26937.0,79.63,2.53,1.13,11.71,0.53,4.48
131,Wheeler,OR,1332.0,1224.0,3.0,34.0,14.0,3.0,54.0,91.89,0.23,2.55,1.05,0.23,4.05
132,Yamhill,OR,107100.0,97848.0,1287.0,2148.0,2165.0,268.0,3384.0,91.36,1.20,2.01,2.02,0.25,3.16

I will do one last check of the data type to see if we need any changes:

In [78]:
westcoastrace.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133 entries, 0 to 132
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   County                 133 non-null    object
 1   State                  133 non-null    object
 2   total_population       133 non-null    float64
 3   white_total            133 non-null    float64
 4   black_total            133 non-null    float64
 5   aian_total             133 non-null    float64
 6   asian_total            133 non-null    float64
 7   nhopi_total            133 non-null    float64
 8   multiracial_total      133 non-null    float64
 9   white_total_pct        133 non-null    float64
 10  black_total_pct        133 non-null    float64
 11  aian_total_pct         133 non-null    float64
 12  asian_total_pct        133 non-null    float64
 13  nhopi_total_pct        133 non-null    float64
 14  multiracial_total_pct  133 non-null    float64
dtypes: float64(13), object(2)
memory usage: 15.7+ KB

In [79]:
westcoastrace

,County,State,total_population,white_total,black_total,aian_total,asian_total,nhopi_total,multiracial_total,white_total_pct,black_total_pct,aian_total_pct,asian_total_pct,nhopi_total_pct,multiracial_total_pct
0,Adams,WA,20151.0,18056.0,447.0,1109.0,287.0,11.0,241.0,89.60,2.22,5.50,1.42,0.05,1.20
1,Asotin,WA,22521.0,21087.0,144.0,356.0,184.0,58.0,692.0,93.63,0.64,1.58,0.82,0.26,3.07
2,Benton,WA,201803.0,181938.0,3379.0,2504.0,6850.0,473.0,6659.0,90.16,1.67,1.24,3.39,0.23,3.30
3,Chelan,WA,78421.0,73391.0,511.0,1497.0,929.0,193.0,1900.0,93.59,0.65,1.91,1.18,0.25,2.42
4,Clallam,WA,76011.0,65939.0,791.0,4243.0,1420.0,143.0,3475.0,86.75,1.04,5.58,1.87,0.19,4.57
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128,Wallowa,OR,7208.0,6890.0,33.0,68.0,36.0,10.0,171.0,95.59,0.46,0.94,0.50,0.14,2.37
129,Wasco,OR,26682.0,24271.0,215.0,1003.0,300.0,191.0,702.0,90.96,0.81,3.76,1.12,0.72,2.63
130,Washington,OR,601592.0,479049.0,15194.0,6827.0,70417.0,3168.0,26937.0,79.63,2.53,1.13,11.71,0.53,4.48
131,Wheeler,OR,1332.0,1224.0,3.0,34.0,14.0,3.0,54.0,91.89,0.23,2.55,1.05,0.23,4.05
132,Yamhill,OR,107100.0,97848.0,1287.0,2148.0,2165.0,268.0,3384.0,91.36,1.20,2.01,2.02,0.25,3.16

With the dataset all cleaned up and ready for analysis, I save it as both a pickle file and a csv file for later use:

In [83]:
westcoastrace.to_csv('westcoastrace.csv',index=False)

In [84]:
westcoastrace.to_pickle("westcoastrace.pkl")